{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        {% if post.user %}
        <h4>質問者：<a class="userLink" href="{% url 'userList' post.user.id %}">{{ post.user.name }}</a></h4>
        {% else %}
        <h4>質問者：退会済みユーザー</h4>
        {% endif %}
        <p><b>{{ post.title }}</b><br>{{ post.body | linebreaksbr }}</p>
        <div class="post-time">
          <p>#{{ post.tag }}</p>
          {{ post.date_updated|date:"Y/m/d f" }}
        </div>
      </div>

      <p>コメント</p>
      <form action="" method="POST">
          {% csrf_token %}

          {{form.body}}
          <input type="submit" class="btn btn-warning" value="コメントする">
      </form>

    </div>
  </div>
{% endblock %}