{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <div class="asker">
          {% if post.user.name %}
          <img class="profile-pic" alt="profile image" src="{{ post.user.profile_pic.url }}">
          <h4><a class="userLink" href="{% url 'userList' post.user.id %}">{{ post.user.name }}</a></h4> <!-- ####### -->
          {% else %}
          <img class="profile-pic" alt="profile image" src="/static/images/profile-icon-png-898.png">
          <h4>退会済みユーザー</h4>
          {% endif %}
        </div>
        <p><b>{{ post.title }}</b><br>{{ post.body | linebreaksbr }}</p>
        <div class="post-time">
          <p>#{{ post.tag }}</p>
          {{ post.date_updated|date:"Y/m/d H:i" }}
        </div>
      </div>

      <p id="commenthere">コメント</p>
      <form action="" method="POST">
          {% csrf_token %}
          <textarea name="body" cols="40" rows="10" required="" id="id_comment_body" spellcheck="false"></textarea>
          <input type="submit" class="btn btn-warning" value="コメントする">
      </form>

    </div>
  </div>
  <div class="emptybox"></div>
{% endblock %}
