{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        {% if post.mentioned_user %}
          <p style="font-size:16px;">送信先 :
            <a href="{% url 'userList' post.mentioned_user.id %}"><img src="{{ post.mentioned_user.profile_pic.url }}" alt="profile pic" style="width:32px; height:32px; border-radius: 45%;"> {{ post.mentioned_user.name }}</a> さん
          </p>
        {% endif %}
        <form action="" method="POST">
          {% csrf_token %}
          <p>質問タイトル</p>
          {{ form.title|add_class:"newpost-title" }}
          <p>関連タグ</p>
          {{ form.tag|add_class:"newpost-tag" }}
          <p>質問内容</p>
          {{ form.body|add_class:"newpost-body" }}
              <input type="submit" value="投稿" name="Submit">
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}