{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        {% if post.mentioned_user %}
          <p style="font-size:16px;">送信先 :
            <a href="{% url 'userList' post.mentioned_user.id %}"><img src="{{ post.mentioned_user.profile_pic.url }}" alt="profile pic" style="width:32px; height:32px; border-radius: 45%;"> {{ post.mentioned_user.name }}</a> さん
          </p>
        {% endif %}
        <form action="" method="POST">
          {% csrf_token %}
          <p style="margin-top:0px;">質問タイトル</p>
          {{ form.title|add_class:"newpost-title" }}

          <p>関連タグ：<b>{{ post.tag }}</b></p>
          <input type="hidden" name="tag" value="{{ form.tag.value }}">

          {% if post.requested_parent_industry %}
            {% if post.requested_industry %}
              <p>業界：<b>{{ post.requested_industry }}</b></p>
              <input type="hidden" name="requested_industry" value="{{ form.requested_industry.value }}">
            {% else %}
              <p>業界：<b>{{ post.requested_parent_industry }}</b></p>
            {% endif %}
          {% endif %}

          <p>質問内容</p>
          {{ form.body|add_class:"newpost-body" }}
          <div class="checkbox">
            <label>
              {{ form.is_public }}
              他の在学生にも質問を公開する
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{ form.name_is_shown }}
              ユーザー名を公開して質問を投稿する
            </label>
          </div>
          <input type="submit" value="更新" name="Submit">
        </form>
        </div>
      </div>
      <div class="emptybox"></div>
    </div>
  </div>
{% endblock %}