{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        {% if mentioned_user %}
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        <img src="{{ mentioned_user.profile_pic.url }}" alt="profile pic" style="width:36px; height:36px; border-radius: 45%;"> <a href="{% url 'userList' mentioned_user.id %}">{{ mentioned_user.name }}</a></p>
        {% endif %}

        <form action="" method="POST">
          {% csrf_token %}
          <p>質問タイトル*</p>
          {{ form.title|add_class:"newpost-title" }}
          <p>関連タグ*</p>
          {{ form.tag|add_class:"newpost-tag" }}
          <p>質問内容*</p>
          {{ form.body|add_class:"newpost-body" }}
              <input type="submit" name="Submit" value="投稿">
        </form>
        {{form.errors}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}