{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            
    <p>
    <strong>プライバシーポリシー</strong>
    </p>
    <p>
    制定日：2021年02月28日
    </p>
    <p>
    1. 基本方針
    </p>
    <p>
    キイテミ運営事務局 (以下、「当事務局」)は、個人情報の重要性を認識し、個人情報を保護することが社会的責務であると考え、個人情報に関する法令等を遵守し、当事務局で取扱う個人情報の取得、利用、管理を適正に行います。
    </p>
    <p>
    2. 適用範囲
    </p>
    <p>
    本プライバシーポリシーは、当事務局が提供するサービスプラットフォームである「キイテミ」において、在学生ユーザーおよび卒業生ユーザーの個人情報もしくはそれに準ずる情報を取り扱う際に、当事務局が遵守する方針を示したものです。
    </p>
    <p>
    3. 個人情報の取得と利用目的
    </p>
    <p>
    当事務局は、在学生ユーザーおよび卒業生ユーザーから以下の情報をご提供いただきます。
    </p>
    <p>
    　・在学生ユーザー：名前、メールアドレス、入学年度
    </p>
    <p>
    　・卒業生ユーザー：名前、メールアドレス、入学年度、就職先業界、職種
    </p>
    <p>
    また、当事務局は、在学生ユーザーおよび卒業生ユーザーからご提供いただく情報を以下の目的の範囲内において、利用します。
    </p>
    <p>
    在学生ユーザーおよび卒業生ユーザーの同意なく、個人情報の収集や目的外の利用を行うことはありません。
    </p>
    <p>
    　・キイテミのサービス利用料金の入金確認および支払いのため
    </p>
    <p>
    　・キイテミに関するご意見、お問い合わせ内容の確認・回答のため
    </p>
    <p>
    　・キイテミの利用に伴う連絡・各種お知らせ等の配信・送付のため
    </p>
    <p>
    　・利用規約等で禁じている行為などの調査のため
    </p>
    <p>
    4. 個人情報の管理
    </p>
    <p>
    当事務局は、在学生ユーザーおよび卒業生ユーザーからご提供いただいた情報の管理について、以下を徹底します。
    </p>
    <p>
    1). 情報の正確性の確保
    </p>
    <p>
    在学生ユーザーおよび卒業生ユーザーからご提供いただいた情報については、常に正確かつ最新の情報となるよう努めます。
    </p>
    <p>
    2). 安全管理措置
    </p>
    <p>
    個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行います。
    </p>
    <p>
    3). 委託先の監督
    </p>
    <p>
    個人情報の取扱いを外部に委託する場合には、当事務局の規程に基づき、用件を満たした委託先にのみ委託を行い、適切な管理を行います。
    </p>
    <p>
    4). 保存期間と廃棄
    </p>
    <p>
    在学生ユーザーおよび卒業生ユーザーからご提供いただいた情報については、保存期間を設定し、保存期間終了後は廃棄します。
    </p>
    <p>
    また、保存期間内であっても、不要となった場合にはすみやかに廃棄します。
    </p>
    <p>
    5.個人情報の第三者への開示・提供の禁止
    </p>
    <p>
    当事務局は、在学生ユーザーおよび卒業生ユーザーからご提供いただいた個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
    </p>
    <p>
    ・お客さまの同意がある場合
    </p>
    <p>
    ・在学生ユーザーおよび卒業生ユーザーが希望されるサービスを行うために当事務局が業務を委託する業者に対して開示する場合
    </p>
    <p>
    ・法令に基づき開示することが必要である場合
    </p>
    <p>
    6. 個人情報の開示、訂正、利用停止等
    </p>
    <p>
    開示、訂正、利用停止等のお申し出があった場合には、当事務局所定の方法に基づき対応致します。
    </p>
    <p>
    具体的な方法については、個別にご案内しますので、「7.問い合わせ先」に記載の受付窓口までお問い合わせください。
    </p>
    <p>
    7.法令、規範の遵守と見直し
    </p>
    <p>
    当事務局は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本プライバシーポリシーの内容を適宜見直し、その改善に努めます。
    </p>
    <p>
    8. 問い合わせ先
    </p>
    <p>
    個人情報の取扱いに関しては、下記の受付窓口までメールにてお問い合わせください。
    </p>
    <p>
    kiiteme.info☆gmail.com
    </p>
    <p>
    ※迷惑メール対策のため、「☆」で表記しております。お問い合わせの際は「☆」を半角の「@」に変更してご利用ください。
    </p>

    </p>

        </div>
    </div>
</div>

{% endblock %}