{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">

    <p>
    <strong>利用規約</strong>
    </p>
    <p>
    制定日：2021年02月28日
    </p>
    <p>
    この利用規約（以下、「本規約」といいます。）は、キイテミ運営事務局（以下、「当事務局」）が提供するサービス「キイテミ」（以下、「本サービス」）の提供条件と、本サービスを利用する在学生ユーザーまたは卒業生ユーザーに遵守していただくべき事項、当事務局と在学生ユーザーおよび卒業生ユーザーとの間の権利義務関係が定められています。
    </p>
    <p>
    本サービスを在学生ユーザーまたは卒業生ユーザーとして利用するには、本規約の全文をお読みいただいたうえで、本規約に同意していただく必要があります。
    </p>
    <p>
    第1条（適用）
    </p>
    <p>
    1. 本規約は、本サービスの提供条件と本サービスの利用に関する当事務局と在学生ユーザーおよび卒業生ユーザーとの間の権利義務関係を定めることを目的として、在学生ユーザーおよび卒業生ユーザーと当事務局との間の本サービスの利用に関わるすべての関係に適用されます。
    </p>
    <p>
    2. 本規約のほか、当事務局が定め、キイテミ（https://kiite-me.site）上に掲載する本サービスの利用に関するルール、各種規定（投稿、FAQも含みます）は、本規約の一部を構成するものとします。
    </p>
    <p>
    3. 本規約の内容と、前項のルール、各種規定、その他の本規約外における本サービスの説明とが異なる場合は、本規約の規定が優先して適用されるものとします。
    </p>
    <p>
    第2条（定義）
    </p>
    <p>
    本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
    </p>
    <p>
    (1)「当事務局」とは、 キイテミ運営事務局 を意味します。
    </p>
    <p>
    (2)「本サービス」とは、当事務局が提供する キイテミ という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含む）を意味します。当事務局は、原則として在学生ユーザーと卒業生ユーザーとの間のマッチングサービスを提供します。
    </p>
    <p>
    (3)「当事務局ウェブサイト」とは、そのドメインが https://kiite-me.site である、当事務局が運営するウェブサイト（理由の如何を問わず、当事務局のウェブサイトのドメインまたは内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。
    </p>
    <p>
    (4)「本規約」とは、本サービスの提供条件と本サービスの利用に関する当事務局と在学生ユーザーおよび卒業生ユーザーとの間の権利義務関係を定めた規定を意味します。
    </p>
    <p>
    (5)「在学生ユーザー」とは、本サービスを利用して、卒業生ユーザーに学業や就職活動などの相談をする、本サービスの利用者様を意味します。
    </p>
    <p>
    (6)「卒業生ユーザー」とは、本サービスを利用して、在学生ユーザーの学業や就職活動などの相談に乗る、本サービスの利用者様を意味します。
    </p>
    <p>
    (7)「サービス利用契約」とは、本規約に従って当事務局と在学生ユーザーおよび卒業生ユーザーとの間で締結する、本サービスの利用契約を意味します。
    </p>
    <p>
    (8)「サービス利用料金」とは、当事務局が定める本サービスの利用料金を意味します。
    </p>
    <p>
    第3条（在学生ユーザーの利用登録）
    </p>
    <p>
    1. 在学生ユーザーとして本サービスの利用を希望する個人（以下「在学生ユーザー登録希望者」といいます。）は、本規約を守って本サービスを利用することに同意した上で、当事務局の定める一定の情報（以下「在学生ユーザー登録事項」といいます。）を当事務局の定める方法で当事務局に提供することにより、当事務局に対し、本サービスの利用の登録を申請することができます。
    </p>
    <p>
    2. 当事務局は、当事務局の基準に従って、第1項に基づいて登録の申請を行った在学生ユーザー登録希望者の登録の可否を判断し、当事務局が登録を認める場合にはその旨を在学生ユーザー登録希望者に通知します。在学生ユーザー登録希望者の在学生ユーザーとしての登録は、当事務局が本項の通知を行ったことをもって完了したものとします。
    </p>
    <p>
    3. 前項に定める登録の完了時に、サービス利用契約が在学生ユーザーと当事務局との間に成立し、在学生ユーザーは本サービスを本規約に従い利用することができるようになります。
    </p>
    <p>
    4. 当事務局は、在学生ユーザー登録希望者が、以下の各号のいずれかの事由に該当する場合は、本サービスの利用を拒否することがあります。拒否をする場合には、その理由について当事務局は、一切の開示義務を負いません。
    </p>
    <p>
    (1) 当事務局に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合
    </p>
    <p>
    (2) 反社会的勢力等（暴力団、暴力団員、右翼団体、左翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると当事務局が判断した場合
    </p>
    <p>
    (3) 在学生ユーザー登録希望者が過去に当事務局との契約に違反した者またはその関係者であると当事務局が判断した場合
    </p>
    <p>
    (4) 第14条に定めるサービス利用契約の解除を受けたことがある場合
    </p>
    <p>
    (5) 営業・採用活動やナンパ・勧誘行為等、本サービスの利用以外を目的とした登録申請であると当事務局が判断した場合
    </p>
    <p>
    (6) その他、当事務局が登録を適当でないと判断した場合
    </p>
    <p>
    第4条（卒業生ユーザーの利用登録）
    </p>
    <p>
    1. 卒業生ユーザーとして本サービスの利用を希望する個人（以下「卒業生ユーザー登録希望者」といいます。）は、本規約を守って本サービスを利用することに同意した上で、当事務局の定める一定の情報（以下「卒業生ユーザー登録事項」といいます。）を当事務局の定める方法で当事務局に提供することにより、当事務局に対し、本サービスの利用の登録を申請することができます。
    </p>
    <p>
    2. 当事務局は、当事務局の基準に従って、第1項に基づいて登録の申請を行った卒業生ユーザー希望者の登録の可否を判断し、当事務局が登録を認める場合にはその旨を卒業生ユーザー登録希望者に通知します。卒業生ユーザー登録希望者の卒業生ユーザーとしての登録は、当事務局が本項の通知を行ったことをもって完了したものとします。
    </p>
    <p>
    3. 前項に定める登録の完了時に、サービス利用契約が卒業生ユーザーと当事務局との間に成立し、卒業生ユーザーは本サービスを本規約に従い利用することができるようになります。
    </p>
    <p>
    4. 当事務局は、卒業生ユーザー登録希望者が、以下の各号のいずれかの事由に該当する場合は、本サービスの利用を拒否することがあります。拒否をする場合には、その理由について当事務局は、一切の開示義務を負いません。
    </p>
    <p>
    (1) 当事務局に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合
    </p>
    <p>
    (2) 反社会的勢力等（暴力団、暴力団員、右翼団体、左翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると当事務局が判断した場合
    </p>
    <p>
    (3) 卒業生ユーザー希望者が過去に当事務局との契約に違反した者またはその関係者であると当事務局が判断した場合
    </p>
    <p>
    (4) 第14条に定めるサービス利用契約の解除を受けたことがある場合
    </p>
    <p>
    (5) 営業・採用活動やナンパ・勧誘行為等、本サービスの利用以外を目的とした登録申請であると当事務局が判断した場合
    </p>
    <p>
    (6) その他、当事務局が登録を適当でないと判断した場合
    </p>
    <p>
    第5条（登録事項の変更）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、登録事項に変更があった場合、当事務局の定める方法により変更となった事項を遅滞なく当事務局に通知するものとします。
    </p>
    <p>
    この通知を怠った場合、本サービスの利用が出来なくなる場合があることを、在学生ユーザーおよび卒業生ユーザーは理解しているものとします。
    </p>
    <p>
    2. 在学生ユーザーが大学を卒業した後に卒業生ユーザーとして本サービスの利用を希望する場合、卒業生ユーザーとして新規登録を行い、運営事務局による承認を受ける必要があるものとします。
    </p>
    <p>
    第6条（パスワードおよび在学生ユーザー名の管理）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、自己の責任において、本サービスに関するパスワード及び在学生ユーザー名を適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。
    </p>
    <p>
    2. パスワードまたは在学生ユーザー名の管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は在学生ユーザーおよび卒業生ユーザーが負うものとし、当事務局は一切の責任を負いません。
    </p>
    <p>
    第7条（提供するサービス）
    </p>
    <p>
    当事務局は、本サービスにおいて、在学生ユーザーが抱える大学生活における学業や就職活動等に対する疑問への、在学生ユーザー同士、または卒業生ユーザーによる回答および知識の共有を円滑化するプラットフォームの提供を、サービスとして提供します。
    </p>
    <p>
    第8条（プラットフォームの提供）
    </p>
    <p>
    1.当事務局は、当事務局ウェブサイトとは別に、第7条で定めるサービスを提供するためのプラットフォームを用意し、在学生ユーザーおよび卒業生ユーザーを登録します。
    </p>
    <p>
    2.当事務局は、第1項に基づいて用意したプラットフォームが使用できなくなった場合、別のプラットフォームを用意して代替します。
    </p>
    <p>
    　なお、別のプラットフォームに移行する際に生じる損失において、当事務局は一切の責任を負わないものとします。
    </p>
    <p>
    第9条（卒業生ユーザーによる役務の提供）
    </p>
    <p>
    1. 卒業生ユーザーは、在学生ユーザーからの相談に乗るサービス（以下、「サービス」）の提供を希望する場合、就職先の業界および職種とあわせて本サービス内で公開しなければなりません。
    </p>
    <p>
    2. 卒業生ユーザーは、サービスの提供を行う際、当事務局が定めるサービス品質基準を都度満たしている必要があります。サービス品質基準を満たせない場合、当事務局から改善要求を行います。
    </p>
    <p>
    3. 卒業生ユーザーは、当事務局から複数回の改善要求が行われた場合、または、第14条で定める禁止事項に該当する行為を行った場合、卒業生ユーザーとしての登録を解除します。登録の解除によって生じる損失において、当事務局は一切の責任を負わないものとします。
    </p>
    <p>
    第10条（在学生ユーザーが受ける役務の提供）
    </p>
    <p>
    1. 当事務局では、第9条で定める役務の提供を受けたことによる成果（就職成功等）を保証しておらず、在学生ユーザーはそれを理解しているものとします。
    </p>
    <p>
    2. 在学生ユーザーは、第14条で定める禁止事項に該当する行為を行った場合、在学生ユーザーとしての登録を解除します。登録の解除によって生じる損失において、当事務局は一切の責任を負わないものとします。
    </p>
    <p>
    第11条（サービスの確認）
    </p>
    <p>
    当事務局は、第8条で定めるプラットフォームにおいて、第9条と第10条で定めた事項の確認を行います。
    </p>
    <p>
    第12条（サービス利用料金）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、サービス利用料金は無料とします。
    </p>
    <p>
    第13条（本サービスの利用）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当事務局の定める方法に従い、本サービスを利用することができます。
    </p>
    <p>
    2. 本サービスの提供を受けるために必要な機器、通信回線その他の通信環境等の準備及び維持は、在学生ユーザーおよび卒業生ユーザーの費用と責任において行うものとします。
    </p>
    <p>
    第14条（禁止事項）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為をしてはなりません。
    </p>
    <p>
    (1) 本規約に違反する行為
    </p>
    <p>
    (2) 在学生ユーザーおよび卒業生ユーザーが、直接取引を行う行為
    </p>
    <p>
    (3) 他の在学生ユーザーおよび卒業生ユーザー、第三者または当事務局の知的財産権（著作権、意匠権、特許権、実用新案権、商標権、工業所有権等）及びその他の権利を侵害する行為、また侵害するおそれのある行為
    </p>
    <p>
    (4) 他の在学生ユーザーおよび卒業生ユーザー、第三者または当事務局の財産、信用、名誉、プライバシー、肖像権を侵害する行為、または侵害するおそれのある行為
    </p>
    <p>
    (5) 他の在学生ユーザーおよび卒業生ユーザーまたは第三者の身体、生命、自由、名誉、財産等に対して害悪を加える旨の情報等を掲載する行為
    </p>
    <p>
    (6) 他の在学生ユーザーおよび卒業生ユーザー、第三者または当事務局に不利益を与える行為、またはそのおそれのある行為
    </p>
    <p>
    (7) 他の在学生ユーザーおよび卒業生ユーザー、第三者または当事務局を誹謗中傷する行為、または不快感を抱かせる行為
    </p>
    <p>
    (8) 他の在学生ユーザーおよび卒業生ユーザーまたは第三者の個人情報および第8条で定めるプラットフォーム内で知りえた情報を売買または譲受にあたる行為、またはそれらのおそれのある行為
    </p>
    <p>
    (9) 公序良俗に反する行為やそのおそれのある行為、またはそれを助長する行為
    </p>
    <p>
    (10) 公序良俗に反する情報を他の在学生ユーザーおよび卒業生ユーザーもしくは第三者に提供する行為
    </p>
    <p>
    (11) 自殺または自傷行為を肯定・勧誘あるいは助長する行為
    </p>
    <p>
    (12) 自殺、殺人の方法などを掲載する行為
    </p>
    <p>
    (13) 猥褻な表現を含む情報、または公衆に羞恥心を抱かせるおそれのある情報、その他公衆の射幸心を仰ぐ情報を掲載し、または他の利用者もしくは第三者に提供する行為
    </p>
    <p>
    (14) 宗教・政治活動・不倫・援助交際・売春・買春・無限連鎖講およびマルチ商法等のあらゆる勧誘行為や営業・採用活動
    </p>
    <p>
    (15) 未成年者にとって有害と認められる情報の売買、譲受または掲載する行為、それらを助長する行為
    </p>
    <p>
    (16) 人の死体、裸体、児童ポルノ、人を殺傷する現場もしくは児童虐待に相当するおそれのある画像または動画を掲載する行為
    </p>
    <p>
    (17) 法令に違反する行為や犯罪的行為、もしくはそのおそれのある行為、あるいはそれを幇助・勧誘する行為
    </p>
    <p>
    (18) 本サービス及びその他当事務局が提供するサービスの運営を妨げる行為、または当事務局の信用・名誉等を毀損する行為
    </p>
    <p>
    (19) 本サービスの運用に用いているサーバーまたはネットワークの機能を破壊、妨害、不正アクセス、著しく負荷をかけるなどの行為
    </p>
    <p>
    (20) 他人になりすまして情報を送信、受信または表示する行為
    </p>
    <p>
    (21) アカウント、在学生ユーザー名、パスワード、Eメールアドレス、及びドメイン名を不正に使用、譲渡または貸与する行為
    </p>
    <p>
    (22) 在学生ユーザーおよび卒業生ユーザーまたは第三者が、本サービスと同様のサービスを、有償無償を問わず第三者に提供もしくは再販売、あるいは転売する行為
    </p>
    <p>
    (23) 本サービスにおいて、事実に反する、またはそのおそれのある情報を提供する行為
    </p>
    <p>
    (24) 公職選挙法およびその他法令・通達・条例等に違反する行為
    </p>
    <p>
    (25) 虚偽の情報で在学生ユーザー登録および卒業生ユーザー登録を行う行為
    </p>
    <p>
    (26) 当事務局のサービスに関連して，反社会的勢力等に対して直接または間接に利益を供与する行為
    </p>
    <p>
    (27) その他、当事務局が不適切と判断する行為
    </p>
    <p>
    2. 当事務局は、在学生ユーザーおよび卒業生ユーザーが前項各号のいずれかに該当し、または該当するおそれがあると判断した場合には、在学生ユーザーおよび卒業生ユーザーに事前に通知することなく、サービス利用契約を解除することができるものとします。当事務局は、本項に基づき当事務局が行った措置によって、在学生ユーザーおよび卒業生ユーザーに生じた損害について一切の責任を負いません。
    </p>
    <p>
    3. 第2項によるサービス利用契約の解除が行われた場合、在学生ユーザーおよび卒業生ユーザーは、当事務局は事前に通知することなく速やかに、第8条で定めるプラットフォームから登録削除します。
    </p>
    <p>
    第15条（本サービスの提供の停止等）
    </p>
    <p>
    1. 当事務局は、以下のいずれかに該当すると判断した場合には、在学生ユーザーおよび卒業生ユーザーに事前に通知することなく、本サービスの利用の全部または一部を停止または中断することができるものとします。
    </p>
    <p>
    (1) 本サービスにかかるコンピューター・システムの点検または保守作業を定期的又は緊急に行う場合
    </p>
    <p>
    (2) コンピューター、通信回線等が事故により停止した場合
    </p>
    <p>
    (3) 地震、落雷、火災、停電または天災などの不可抗力により本サービスの運営および提供ができなくなった場合
    </p>
    <p>
    (4) その他、当事務局が停止又は中断を必要と判断した場合
    </p>
    <p>
    2. 当事務局は、当事務局の都合により、本サービスの提供を終了することができます。この場合、当事務局は在学生ユーザーおよび卒業生ユーザーに事前に通知するものとします。
    </p>
    <p>
    3. 当事務局は、本条に基づき当事務局が行った措置に基づき在学生ユーザーおよび卒業生ユーザーまたは第三者に生じた損害について一切の責任を負いません。
    </p>
    <p>
    第16条（利用制限および登録抹消）
    </p>
    <p>
    1. 当事務局は、在学生ユーザーおよび卒業生ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、在学生ユーザーおよび卒業生ユーザーについて本サービスの利用を一時的に停止し、または在学生ユーザーおよび卒業生ユーザーとしての登録を抹消、もしくはサービス利用契約を解除することができます。
    </p>
    <p>
    (1) 本規約のいずれかの条項に違反した場合
    </p>
    <p>
    (2) 登録事項に虚偽の事実があることが判明した場合
    </p>
    <p>
    (3) 当事務局からの問いあわせその他の回答を求める連絡に対して15日間以上応答がない場合
    </p>
    <p>
    (4) 第3条第4項各号に該当する場合
    </p>
    <p>
    (5) その他、当事務局が本サービスの利用、在学生ユーザーおよび卒業生ユーザーとしての登録、またはサービス利用契約の継続を適当でないと判断した場合
    </p>
    <p>
    2. 当事務局は、本条に基づき当事務局が行った行為により在学生ユーザーおよび卒業生ユーザーに生じた損害について一切の責任を負いません。
    </p>
    <p>
    第17条（退会）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、当事務局の定める方法で、当事務局に退会の1ヶ月前までに通知することにより、本サービスから退会し、自己の登録を抹消することができます。
    </p>
    <p>
    2. 在学生ユーザーおよび卒業生ユーザーの退会にあたり、当事務局は速やかに、在学生ユーザーとしての登録削除を開始し、当事務局ウェブサイトおよび第8条で定めるプラットフォームから削除します。
    </p>
    <p>
    3. 退会にあたり、当事務局に対して負っている債務が有る場合は、在学生ユーザーおよび卒業生ユーザーは、当事務局に対して負っている債務の一切について当然に期限の利益を失い、直ちに当事務局に対して全ての債務の支払を行わなければなりません。
    </p>
    <p>
    第18条（サービス内容の変更等）
    </p>
    <p>
    1. 当事務局は、在学生ユーザーおよび卒業生ユーザーに事前に何ら通知することなく、当事務局の都合により、本サービスの内容を変更し、または提供を終了することができるものとします。
    </p>
    <p>
    2. 当事務局は、本条に基づき当事務局が行った措置に基づき在学生ユーザーおよび卒業生ユーザーおよび第三者に生じた損害について一切の責任を負いません。
    </p>
    <p>
    第19条（権利帰属）
    </p>
    <p>
    1. 当事務局ウェブサイトおよび第8条で定めるプラットフォームおよび本サービスに関する所有権及び知的財産権は全て当事務局または当事務局にライセンスを許諾している者に帰属しており、本規約に定める登録に基づく本サービスの利用許諾は、当事務局ウェブサイトまたは本サービスに関する当事務局または当事務局にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
    </p>
    <p>
    2. 卒業生ユーザーは、在学生ユーザーに提供したサービスについて、自らが投稿その他送信することについての適法な権利を有していること、およびそれらが第三者の権利を侵害していないことについて、当事務局、および在学生ユーザーに対し表明し、保証するものとします。
    </p>
    <p>
    3. 在学生ユーザーまたは卒業生ユーザーが第三者から著作権侵害の申し出を受けた場合には、在学生ユーザーまたは卒業生ユーザーは、直ちにサービスの授受を中止し、当事務局へその旨を連絡するものとします。その対応については、当事務局、在学生ユーザー、卒業生ユーザーによって協議の上、決定します。
    </p>
    <p>
    4. 在学生ユーザー、卒業生ユーザー、その他の第三者との間に著作権の問題が生じた場合は、当事務局は一切責任を負わないものとします。
    </p>
    <p>
    第20条（保証の否認および免責）
    </p>
    <p>
    1. 当事務局は、本サービスが在学生ユーザーおよび卒業生ユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、在学生ユーザーおよび卒業生ユーザーによる本サービスの利用が在学生ユーザーおよび卒業生ユーザーに適用のある法令または業界団体の内部規則等に適合すること、および不具合が生じないことについて、何ら保証するものではありません。
    </p>
    <p>
    2. 当事務局は、当事務局による本サービスの提供の中断、停止、終了、利用不能または変更、または機器の故障もしくは損傷、その他本サービスに関して在学生ユーザーおよび卒業生ユーザーが被った損害につき、賠償する責任を一切負わないものとします。
    </p>
    <p>
    3. 何らかの理由により当事務局が責任を負う場合であっても、当事務局は、在学生ユーザーおよび卒業生ユーザーが被った損害につき、サービス利用料金の金額を超えて賠償する責任を負わないものとし、また、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害等のあらゆる損害については、賠償する責任を負わないものとします。
    </p>
    <p>
    4. 本サービスまたは当事務局ウェブサイトおよび第8条で定めるプラットフォームに関連して在学生ユーザーおよび卒業生ユーザーまたは第三者との間において生じた取引、連絡、紛争等については、当事務局は一切責任を負いません。
    </p>
    <p>
    5. 在学生ユーザーまたは卒業生ユーザーが、本サービスを利用することにより、在学生ユーザーまたは卒業生ユーザーまたは第三者に対し不利益・損害を与えた場合、在学生ユーザーまたは卒業生ユーザーは自己の費用と責任においてこれを賠償するものとし、これらの一切の不利益・損害について当事務局は一切責任を負いません。
    </p>
    <p>
    第21条（個人情報の取扱い）
    </p>
    <p>
    1. 当事務局による在学生ユーザーおよび卒業生ユーザーの個人情報の取扱いについては、別途定める当事務局プライバシーポリシー（https://kiite-me.site/privacy-policy）の定めによるものとし、在学生ユーザーおよび卒業生ユーザーはこのプライバシーポリシーに従って当事務局が在学生ユーザーおよび卒業生ユーザーの個人情報を取扱うことについて同意するものとします。
    </p>
    <p>
    2. 当事務局は、在学生ユーザーおよび卒業生ユーザーが当事務局に提供した情報、データ等を、個人を特定できない形での統計的な情報として、利用及び公開することができるものとし、在学生ユーザーおよび卒業生ユーザーはこれに異議を唱えないものとします。
    </p>
    <p>
    第22条（利用規約の変更）
    </p>
    <p>
    1. 当事務局は、当事務局の判断で自由に本規約を変更できるものとします。
    </p>
    <p>
    2. 第1項に基づき、本規約を変更した場合には、在学生ユーザーおよび卒業生ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、在学生ユーザーおよび卒業生ユーザーが登録取消の手続をとらなかった場合または本サービスを引き続き利用した場合には、在学生ユーザーおよび卒業生ユーザーは、本規約の変更に同意したものとみなします。
    </p>
    <p>
    第23条（通知または連絡）
    </p>
    <p>
    本サービスに関する問い合わせその他在学生ユーザーおよび卒業生ユーザーから当事務局に対する連絡または通知、および本規約の変更に関する通知その他当事務局から在学生ユーザーおよび卒業生ユーザーに対する連絡または通知は、当事務局の定める方法で行うものとします。
    </p>
    <p>
    第24条（サービス利用契約上の地位の譲渡等）
    </p>
    <p>
    1. 在学生ユーザーおよび卒業生ユーザーは、当事務局からの書面による事前の承諾なく、サービス利用契約上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
    </p>
    <p>
    2. 当事務局は、本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴いサービス利用契約上の地位、本規約に基づく権利及び義務並びに在学生ユーザーおよび卒業生ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、在学生ユーザーおよび卒業生ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
    </p>
    <p>
    第25条（分離可能性）
    </p>
    <p>
    本規約のいずれかの条項、またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
    </p>
    <p>
    第26条（準拠法・裁判管轄）
    </p>
    <p>
    本規約の準拠法は日本法とし、本規約に起因しまたは関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </p>
    
        </div>
    </div>
</div>

{% endblock %}