{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <h5>【第2回】[就活体験談]</h5>
        <h3>「彼女いますか?だってさwwww」<br>チーバくんのうなじからやってきた男の熱き就活ストーリー</h3>
        
        <div class="asker"> 
        <!-- author section -->
          <img class="profile-pic" alt="profile image" src="{% static 'images/toda1.jpg' %}" style="width:38px; height:38px;">
          <h4 style="padding-top:0;">戸田健太郎</h4> 
        </div>
<!-- write body down here -->
<div class="article-body">
<h4>ーでは早速ですが自己紹介からお願いします！</h4>

<p>戸田健太郎です。2020年の4月からエアライン系商社で企画・マネジメントという部門でDXを担当しています。</p>

<h4>ーそのエアライン系商社はなぜ選んだのですか？</h4>

<p>面接で「彼女がいるか」と聞かれるよ！という噂を聞いていたので「います！」と堂々と答えてドヤ顔したかったからです。</p>

<h4>ーそうなんですね！そんな会社に入って1年が経ちましたが戸田さんにとってどんな1年でしたか？</h4>

<p>いろんな仕事にチャレンジさせていただいた1年でした！<br>失敗もありましたが貴重な経験をたくさん積むことができました。例えば～</p>

<h4>ーここからは就活生時代のことについてお聞きしていきますね！<br>　就活はいつから本格的にスタートしましたか？</h4>


</div>
<!-- write body up here -->
        <div class="post-time">
          <p>2021/4/11</p>
        </div>
      </div>

    </div><div class="emptybox"></div>
  </div>
{% endblock %}
