<!-- 志望先の会社とのマッチ度を知るには〇〇に聞け？裏ワザ級の情報収集術がコレ -->

<h4>ー本日はお時間いただきありがとうございます！<br>まずは自己紹介をお願いいたします！</h4>
<p>
1期生のぼすとんです。<br>
現在はIT業界の中でも品質保証（QA）の分野の企業で働いています。
</p>
<p>
”Quality Assurance”で調べると沢山出てくるので是非興味がある方は調べてみてください。
</p>
<p>
今のお仕事を簡単に言うと、最近だとCOCOAやコロナワクチン予約接種システムの不具合が問題になっていますが、
<br>
あのようなアプリやシステムの不具合を事前に見つけて開発に直してもらうお仕事です。
</p>
<p>
職場自体は日本の会社ですが、<br>
国際色が豊かなため社内の公用語は英語です。<br>
なので会議、資料、何から何まで英語尽くしの幸せな日々を送っています。
</p>
<p>
色々な訛りの英語が聞けて楽しい一方で、<br>
コロナ禍でチームメンバーに会えない＆見慣れない名前の方が多いと言うこともあり相手の性別を間違えて認識してしまっていたこともしばしば、、、
</p>
<p>
また学生時代には大学1年生の冬にトロント大学附属の語学学校に1ヶ月留学、<br>
2年の後期には半年間ハワイ大学で学部授業の履修をしに行きました。
</p>
<h4>ーIT業界のお仕事で”QA”というのはなかなか聞きなれないのですが、<br>なぜその会社を選ばれたんですか？</h4>
<p>
始めのころはIT業界に絞って会社を探していました。
</p>
<p>
将来海外で働いてみたいという思いが強く、<br>
「プログラミング言語という世界共通の言語でならどこに行っても困らないのでは」と考えたのが志望のきっかけです。
</p>
<p>
その中で何故QAという業種を選んだかというと、<br>
単純に面白そうだったからです。
</p>
<p>
日本のIT業界だと、どんなに素晴らしいシステムを作っても、<br>
「それが問題なく動作するか」というのをしっかりと検証する重要性がまだあまり認知されていません。
</p>
<p>
その結果として、アプリが正常に動作していない事がリリースから何か月も経ってから分かった、<br>
といった事が起こったりしてしまうのです。
</p>
<p>
一方でこの概念は海外では当たり前のものとして扱われています。
</p>
<p>
このギャップを知り、「海外で当たり前の概念を日本に広める手助けがしたい」という想いと<br>
「海外で働くことになってもこの業種でなら勝負できる」という考えで今の会社への入社を決めました。
</p>
<h4>ーそういうことだったんですね！<br>実際に入社されて1年が経ったかと思いますがこれまでの1年はどうでしたか？</h4>
</p>
<p>
「社会人一年目の自分は兎にも角にも仕事ができない」ということを一番実感しました。
</p>
<p>
コロナ蔓延が始まった直後に入社したこともあり、<br>
上司たちがバタバタしながら手探りでリモートワークをしている状態での配属でした。
</p>
<p>
普通なら隣で作業して、何かあれば質問できる環境があるはずのOJT初日ですらオフィスにいるのは新卒の二人だけ。
</p>
<p>
最初は困っていることを誰に伝えれば良いかもわからずただただ時間が過ぎていきました。
</p>
<p>
今思えばとりあえず誰かに助けを求めたらよかったわけですが、<br>
それすらもできなかったのが辛かったです。
</p>
<p>
そんなこんなで始まった社会人一年目は課題しかありませんでしたが、<br>
その分良い発見も沢山ありました。
</p>
<p>
仕事に慣れて余裕が生まれてくると色々なことが見えてくるようになります。
</p>
<p>
そして一年目はそれらに目を向ける時間が十分にあります。
</p>
<p>
「QAとしてこういう仕事をしてみたい」「QA以外にもこういう仕事がしたい」など沢山目標が出来て興味の幅も増えて、<br>
将来の可能性が増えていくワクワク感を原動力にやりたいことに挑戦することが出来た一年でした。
</p>
<h4>ー1期生の方々は入社のタイミングがコロナの感染拡大とぶつかってしまっていたのでそういった苦労もあったんですね...<br>話は変わりますがぼすとんさんはいつから就活の準備を始めましたか？</h4>
<p>
3年生になるタイミングで就活の準備を始めました。
</p>
<p>
最初は「就活とは何かを知る」くらいのふんわりとした目標を立てて、<br>
OB訪問サービス（Visit OB, Matcherなど）を利用して話を聞くところからスタートし、<br>
夏のインターンは何の準備もせず参加しました。
</p>
<p>
メモ帳すら準備しなかったほどでしたが意外と大丈夫でした（笑）
</p>
<p>
その後はインターン参加企業からの懇親会のお誘いを受けたのでご飯目的で参加したりとゆるゆる業界調査をしながら、<br>
3年生の秋頃から本格的に就活に注力しました。
</p>
<h4>ーその際の就活の軸はなんでしたか？</h4>
<p>
当時は職種と会社内の環境の2つを軸にしていました。
</p>
<p>
■職種
</p>
<p>
先述したとおり海外で働くことを視野に入れていたため、<br>
海外で働く際に役立つスキルが身につけられるかどうかを考えていました。
</p>
<p>
これだけ書くとアバウトなので少し語りますが、<br>
アメリカのIT技術は日本よりも5年から10年進んでると言われています。
</p>
<p>
つまり日本で当たり前の職種でも、機械が出来ちゃう仕事はアメリカでは早々に需要がなくなってしまう可能性が高いということです。<br>
例えばプログラミングなんかはもうAIが出来るようになり始めているようです。
</p>
<p>
これらを考えて「IT業界の仕事で機械的な作業ではない仕事、かつ海外で職探しがしやすそうな職種」を探していました。
</p>
<p>
■会社
</p>
<p>
会社規模はそれほど気にしていませんでした。<br>
直感で好きかそうでないか。
</p>
<p>
環境にやる気を左右されやすいタイプなので、<br>
周りに頼りやすい環境かどうかを結構重要視していました。
</p>
<p>
今の会社は通りすがった社員さん全員が挨拶してくれたのが嬉しくて好印象でした。
</p>
<h4>ー先ほども仰ってましたが、新人として会社に入る以上聞きやすい環境かどうかって大きいですよね！<br>ちなみに先ほどインターンの話が出ましたが、ぼすとんさんはどんなインターンに参加されましたか？</h4>
<p>
私は以下の3つを主な目的として、<br>
インターンに参加していました。
</p>
<p>
１．そもそもIT業界の仕事が自分のイメージと合致するか確認する<br>
２．IT業界の特徴や会社ごとの特色を知り、どのような会社に入りたいかを考える足掛かりを作る<br>
３．IT業界以外のインターンにも参加してみて、その後IT業界に絞って就活するかを決める<br>
会社によってインターンでも面接を行うため、本選考前に面接練習も出来て一石二鳥でした。
</p>
<p>
以下目的別の詳しい意図です。
</p>
<p>
１．そもそもIT業界の仕事が自分のイメージと合致するか確認する
</p>
<p>
これを確認するには実際に現場の空気を感じるしかないと思い、<br>
実際にオフィスで働ける1Weekインターンに参加しました。
</p>
<p>
社員さんが働いている部屋に自分たちも入れてもらい、<br>
学生3人で各々アンドロイドアプリの開発を行っていました。
</p>
<p>
プログラミング経験がほとんどなくても開発が出来るMIT App inventerというツールを使ったので開発自体が苦ということはありませんでした。
</p>
<p>
そして実際黙々と開発もどきの作業をすることで、働き方が少しだけ見えてきました。
</p>
<p>
「黙々と作業するこのスタイルが自分に合っているのか」<br>
「職場の雰囲気やワークスタイルも会社選びの際に考慮に入れるべきなのではないか」などなど
</p>
<p>
業務内容も勿論大事ですが、<br>
自分にとっては働き方や環境も同じくらい大事だとここで気がつきました。
</p>
<p>
書面では中々感じ取れない「職場の雰囲気」を重要項目の一つとして設定した私は就職四季報と睨めっこするよりも会社を巡る方法を選び、<br>
サマーインターン後も沢山の会社を訪問しました（単純に文字を読むのが面倒だったのも大きいですが）。
</p>
<p>
２．IT業界の特徴や会社ごとの特色を知り、どのような会社に入りたいかを考える足掛かりを作る
</p>
<p>
この段階では、そもそも自分がどのような会社に入りたいのかすらイメージ出来なかったので、<br>
20社ほどの1dayインターンに参加しました（流石に多すぎるのでおすすめはしません）。
</p>
<p>
それぞれの会社の単純な好き嫌いを決め、<br>
そこから好きな会社の共通点を上げていくと自分の好みが見えてきました。
</p>
<p>
あとは自分の好きそうな会社をピックアップしてインターンや企業説明会に参加し、<br>
その会社がイメージ通りだったならその後の選考に進んでいました。
</p>
<p>
３．IT業界以外のインターンにも参加してみて、その後IT業界に絞って就活するかを決める
</p>
<p>
これは自分が後悔しないようにする保険の目的もありますが、<br>
敢えて全く興味のない業界の1dayインターンも何度か参加しました。
</p>
<p>
就活ど素人の私でも分かるくらいIT業界のものとはかけ離れた空気感がありました。
</p>
<p>
これで「IT業界とは全然違って面白そう！」となれば未来が大きく変わったと思いますが、<br>
結局ほとんど興味が湧かなかったのでIT業界に絞る決断は割と早い段階で出来ました。
</p>
<h4>ーなるほど！自分が志望している業界が自分に合っているか探るために他の業界も見てみるのは参考になります！<br>やりたい分野が決まっていてスムーズな就活をされていたのかと感じるのですが、苦労などありましたか？</h4>
<p>
業界は定まっていたものの、<br>
具体的に何をやりたいのかが明白ではなく、<br>
かつ開発経験がほぼなかったので働くイメージがしにくくて大変でした。
</p>
<p>
結局実際に働くまでそのイメージが確立することはありませんでしたが、<br>
就活時は自分がどういう仕事をしたいのかなるべく人事に伝えるようにしていました。
</p>
<p>
そうすることで適任者との懇親会に誘ってもらえることが多かったです。
</p>
<p>
それでも納得いかない時は社員さんとの懇親会を複数回開いてもらって色々な部署の人から話を聞いていました。<br>何度も何度も社員さんと話すことである程度の不安は取り除けたと思います。
</p>
<h4>ー面接以外の場も積極的に活用していたのですね！<br>またこういった就活の情報収集ってどのように行われていましたか？</h4>
<p>
先ほどの社員懇親会で「あの会社（同業界の企業）気になってるんですが実際どうですかね」って聞いてました（特に夏インターン時）。
</p>
<p>
「書面で見たって会社のステータスしか分からないし、気になる企業にインターン行ったって取り繕うので本当の顔は見られない。<br>
なら取引している会社に聞けば良いじゃない！」の思考です。
</p>
<p>
ただしみんながピリピリしている冬にやると駆け引き感が増すのでおすすめはしません。
</p>
<p>
志望順を聞かれた時に気になっている企業の名前を出すと自社と比較してどうかを教えてくれることが多かったです。
</p>
<p>
2企業の情報が一気に得られるのでよく使っていました。
</p>
<h4>ーたしかに取引している会社聞くことで、違った視点から志望先の会社とのマッチ度を確かめられますね！<br>ぼすとんさんはかなり準備を念入りに行っていた印象ですが、逆にやらずに後悔していたことはありますか？</h4>
<p>
開発経験のなさが外資系IT企業ではネックになることも少なくなく、<br>
長期インターンで開発を経験しておけばよかったなと少し後悔しています。
</p>
<p>
ただ私の場合は2年の後期に長期インターン最適期間に留学に行っていたので時間的に不可能でした。
</p>
<p>
1年生の時にやっておけばよかったと思う時もありますが、<br>
1年生くらい何も考えず楽しんでなんぼとも思います。
</p>
<p>
あとは、就活とは関係ありませんが、<br>
やっておくべきこととしてはとことん学生生活を楽しむことですね。
</p>
<p>
社会人はもう本当に時間がありません。<br>
お金はあるけど時間がない。<br>
趣味に割くエネルギーもない。
</p>
<p>
エネルギー溢れる今のうちに沢山馬鹿をやって、沢山思い出を作ってください。
</p>
<h4>ーIT業界志望している人は大学生の内から開発経験を作っておくといいのですね！<br>ちなみに国社の授業の中で就活に役立ったものはありますか？</h4>
<p>
海外研修IIの授業は意外と就活に役に立ちました。
</p>
<p>
「自分の留学経験を自分の就活/将来にどう活かすか」といった内容のもので（と記憶している）自分が何をしたいのかを考える良いきっかけになりました。
</p>
<p>
“Ikigai”についての講義の内容は今でも参考にしています。
</p>
<p>
自分が何をしたいのかだけでなく、「自分に何が出来るのか」「どこにその需要があるのか」を考えると自分が選ぶべき業界/職種が絞りやすくなりました。
</p>
<h4>ーIkigaiの授業面白そうです！自分もその話聞いてみたかったです（笑）<br>最後の質問となってしまいますが、ぼすとんさんが考える国社生のアピールポイントってなんだと思いますか？</h4>
<p>
就活で英語力を強みとして押し出す場合、<br>
キーになるのは他言語での情報収集能力かなと思います。
</p>
<p>
「英語『を』勉強している人」と「英語『で』勉強している人」の違いですね。
</p>
<p>
おそらくITに限らず様々な分野で役に立つスキルと思いますが、<br>
特にIT業界ではこの「英語で調べる力」がとても役に立ちます。
</p>
<p>
日本はIT分野では他国に遅れをとっているので、<br>
日本語で調べても出てこない情報が英語だとすぐに見つかったりすることがあります。
</p>
<p>
そしてそれを自分で調べられる人というのは重宝されるものです。</p>
<p>
英語以外だと行動力や積極性でしょうか。
</p>
<p>
個性が飽和している環境の中でで伸び伸びと育った国社生は、<br>
自分の意見をしっかりもち、自分のやりたいことをやり、時には怒られ、そんな人が多い印象です。
</p>
<p>
是非その行動力と積極性を武器に、就活の際にも沢山チャレンジしてみてください。
</p>
<h4>ーありがとうございました！<br>では在学生へのメッセージを最後に頂ければ幸いです！</h4>
<p>
はじめにこう言ってはよくないかもしれませんが、<br>
就活に正解はありません。
</p>
<p>
それでも自分なりの正解らしきものを紡ぎ出す必要があります。
</p>
<p>
また就職活動は人それぞれで、<br>
いくら周りの意見を聞いたところで参考になる場合の方がレアです。
</p>
<p>
それくらい「正解らしきもの」が人によって違うということです。<br>
でも周りがそのお手伝いをすることはいくらでもできます。
</p>
<p>
あまり周りと比較し過ぎず、気負いすぎず、自分のことだけ考えて沢山悩んでください。
</p>
<p>
何が正解かを周りに聞くのではなく、<br>
正解を見つけ出すための手助けを周りに求めてみると良いと思います。
</p>
<p>
そしていざ正解らしきものが見えたら就活が本格始動するわけですが、<br>
面接で失敗するのが怖かったら練習用の企業を決めて面接を申し込めばいくらでも練習できます。
</p>
<p>
就職先を間違ったって死ぬわけでも未来が閉ざされるわけでもない。<br>
今は転職の時代ですしね。
</p>
<p>
就活なんて迷ってなんぼ！失敗したって大丈夫！
</p>
<p>
皆様の溢れる個性を活かして、周りに流されることなく自分の目標に向かって突き進んでください！
</p>