
<h4>　ーそれでは早速ですが自己紹介からお願いします！</h4>
<p>
はじめまして！<br>
メーカーで新規事業拡大に貢献する予定で入社ほやほやの礒保奈実です！
</p>
<p>
今は研修中で、設計生産工程からエンドユーザー様直結のお仕事まで幅広く勉強させてもらってます！
</p>
<p>
学生時代に怠けて腐りかけてた頭がエンジン全開でようやく動きはじめた感じです！
</p>
<p>
学生時代は国際関係に関わりたい思いから、<br>
長期留学生のためのボランティア活動や、短期留学のための学生団体であるGCAに力を入れて活動してました！
</p>
<p>
また半年間オーストラリアで留学してました。<br>
現地では多くの人に出会い、多様性の素晴らしさ、個々の尊重の大切さを学びました！
</p>
<p>
今の職場ではチームワークが非常に重要なので、これらの経験が生かされているなと実感している毎日です！
</p>
<h4>　ー学生時代にはいろんな活動に関わられていたんですね！<br>礒さんの頭が腐りかけてたイメージがイマイチ湧いてこないです（笑）<br>ちなみにそのメーカー会社を選ばれた理由はなんですか？</h4>
<p>
自由闊達！<br>
この一言に尽きるかなと思います。
</p>
<p>
私は先ほど話した学生時代の経験から、多種多様な考え方があるからこそ、<br>
それらが重なり合って素敵なアイディアが生まれると考えました。
</p>
<p>
この考えが入社先の企業理念とマッチしているな、と感じたんです！
</p>
<p>
実際インターンに参加していた時にも、多様性を受け入れる文化や自由な雰囲気があるなというのを感じていたのですが、<br>
その後の面接の時にも自分が言いたいことを正直に話して、それを受け入れてくれる環境だったので、これは運命だと思いました。
</p>
　<h4>ー確かに、今後働いていく会社と自分との価値観のマッチ度って大切ですね...！<br>礒さんが入社されて2か月ほど経ったかと思いますが実際入社してみて感じたギャップとかはありましたか？！</h4>
<p>
ありましたよ！
</p>
<p>
私の部署はおじさんばっかりで、天と地並みのジェネレーションギャップを感じています笑
</p>
<p>
ですがみなさん一人一人がいい人たちで本当に面白いんです！<br>
関西の会社だからなのかよく喋ります！お口の使用率200%くらいです！
</p>
<p>
落ち着いた部署もありますが、私の部署はうるさいです笑
</p>
<p>
今は慣れました、というか染まりすぎてもはや家族です笑
</p>
<h4>　ー200%とは...さすが関西です（笑）<br>それではここからは礒さんが就活生だった時のお話を聞いていきますね！<br>まず就活はいつ頃から始められましたか？</h4>
<p>
私は8月くらいからちょこちょことインターン応募してました！
</p>
<p>
「就活」というより、世の中を知りたいなという感覚で始めました！
</p>
<h4>　ーそうなんですね！その時の就活の軸はなんでしたか？</h4>
<p>
「物作りを通した社会課題の解決」です！
</p>
<p>
就活をしていく中で、<br>
私たちの生活に欠かせないのは「モノ」で、その「モノ」が社会課題を解決するとともに、<br>
その「モノ」に触れることで私たちが新たな価値観を創造していると考えるようになりました。
</p>
<p>
だから、私も社会課題を解決する「モノ」を作りたい！
</p>
<p>
それで世界中の人々の価値観を創造したい！
</p>
<p>
と考えて、上記の軸になりました。
</p>
　<h4>ー日常と強く結びついている「モノ」を作る分野で人々が抱える課題の解決に挑みたかったんですね...！<br>ちなみにコロナ禍の就活で最も苦労された点は何でしたか？</h4>
<p>
会社説明会がオンライン中心になったこともあって、<br>
どんな社風なのかを感じ取るのに苦労しました。
</p>
<p>
コロナウイルスの拡大により会社説明や面接がオンラインに移行していきました。
</p>
<p>
その結果、本来なら社員の方々のオーラや雰囲気など、対面で感じられたものをオンラインで探る形になってしまい、<br>
いまいち社員の方の性格や社風を理解できず、自分にマッチするのかを判断するのに苦労しました。
</p>
<p>
なので私は同じ内容のオンライン説明会に何度も出席したり、<br>
会社に電話して直接会社に行ってもいいか伺ったりして、社風を感じるようにしました。
</p>
<h4>　ー自分から結構アクティブに会社の雰囲気を探りに行ってたんですね、参考になります！<br>ちなみに国社の学生だった時に「これは就活に役立った！」と思ったことはありましたか？</h4>
<p>
主に2つあるんですが、<br>
まずメンタイでは就活の「緊張感」というのを本番に近い形で味わえたので、<br>
これをきっかけに就活本気モードに入ることが出来ました！
</p>
<p>
そして国社の授業ももちろん役に立ったと感じてます。
</p>
<p>
国社では人前でプレゼンを発表する授業が多かったので、<br>
面接の場でも「どうやったら自分の考えていることを相手にちゃんと伝えられるか」というのを意識しながら話せたと思っています！
</p>
　<h4>ー自分はプレゼンの授業苦手だったんですが、やっぱりちゃんとやった方が良いんですね...！<br>また面接で上手く話すことができていたとのことですが、そんな礒さんでも答えるのに苦労した質問ってありましたか...？</h4>
</p>
<p>
もちろんありました笑
</p>
<p>
私がガクチカで留学したときに経験した苦労を話したら、<br>
「そんなんで営業できると思ってる？」と真面目な顔で聞かれたことや、<br>
「学生時代の経験の結果を数的根拠を用いて具体的に説明してくれるかな？」と質問されたことがありました。
</p>
<p>
1個目の質問には、全力で「できます！自信だけはあります！」と答えて通りました笑
</p>
<p>
2個目の質問は素直に分かりませんと答えて通りました笑
</p>
<h4>ー結局通っちゃってるんですね！（笑）<br>でも考えてみると無理な質問にも前向きな姿勢を見せていたのが評価されていたのかもですね！<br>礒さんは学生時代にこんな事やっておけばよかった、と後悔していることはありますか？</h4>
<p>
数字に残る活動があったら良かったなと思いました！
</p>
<p>
後悔というより、より良かっただろうな、という感じです！
</p>
<p>
最初は◯位だったのが最後は◯位になりました！みたいに、<br>
数字を使った方がより具体的に説明できるし、説明される側も理解しやすいと思ったからです。
</p>
<p>
私はTOEICを使ったけど、それよりも団体競技やバイトとか、<br>
他の人と協力して行う活動を数字を見せながら説明できる人の方が面接官には印象いいだろうなと思いました！
</p>
　<h4>ーやっぱり数字を使ってアピールするのが鍵となってるんですね！<br>また礒さんが考える国社生の強みってなんでしょうか！？</h4>
<p>
留学とか国社の授業とかだと思います。
</p>
<p>
留学は期間の長さに関わらず、<br>
どれだけ自分にとって貴重な経験を積むことが出来たかが大事なことだと思います。</p>
<p>
国社の授業に関しては、<br>
少人数で行う専門演習の授業だったりで教授と直接コミュニケーションをとりながら深く学ぶことができるので、<br>
そこで得たものを就活でもアピールできると思います。</p>
<h4>ーなるほどです！以上の質問でインタビューは終了です！ありがとうございました！！<br>最後に国社の在学生にメッセージをお願いいたします！</h4>
<p>
みなさんコロナ禍で就活に不安を感じてる人が多いことかと思います。
</p>
<p>
でも「コロナ禍だから仕方ない」と思うのではなく、<br>「コロナ禍だからこそ頑張るぞ！」と思ってほしいです！
</p>
<p>
大変なのは自分だけではありません。
</p>
<p>
就活している全員、大変な思いをしています。
</p>
<p>
コロナ禍を乗り越えた就活生なら、今後の人生で大変なことがあってもきっと乗り越えられると信じています！
</p>
<p>
コロナに負けず、自分に負けず、全力で頑張ってください！<br>全力ほど輝いていると思います♪
</p>
<p>
みなさんの就活を心から応援してます！
</p>