<!-- 海外営業からマーケターへ、就活中に軸変更しても行けるものなの？ -->

<h4>ー本日は2期生卒業生の佐藤さんにインタビューを行っていきます！<br>よろしくお願いします！</h4>

<p>
よろしくお願いします。<br>
佐藤有里恵といいます。
</p>
<p>
今年3月に卒業して、現在は大阪で働いています。
</p>
<p>
在学中は体育会トランポリン競技部と、<br>
国社のオープンキャンパススタッフを4年間していました。
</p>
<p>
また、留学は2年生のときに、<br>1年間エディンバラ大学に行っていました。
</p>
<h4>ー現在はどんなお仕事をされているんですか？</h4>
<p>
現職は...「〇〇業界！」と一言では言い表せないんですよね(汗)。
</p>
<p>
大枠で捉えると、自社の商品や広告を通して、お客様に情報を届けている「メディア企業」だと思います。
</p>
<p>
私はマーケティングの部署に所属していて、主にマーケティング関連の自社商品(本・動画・セミナーなど)の広告を作っています。
</p>
<h4>ーなるほど！「マーケティングが題材の商品」のマーケティング業務をされているんですね！<br>その会社にはどんな想いから入社されたのですか？</h4>
<p>
スピード感を持って自己成長し、若いうちに社会的・経済的に自立できる、
<br>
という私の目的とマッチしたからです。
</p>
<p>
実は、初めのうちは「海外営業」をしたいと思っていたんです(海外に行きたいから、とりあえず問答無用で海外に行かせてもらえる業種、とか何とか、そんな軽い気持ちで)。
</p>
<p>
でも、コロナウイルスの流行によって海外営業の機会は激減しましたし、<br>
会社によっては、「直接海外に行って営業する」ことの必要性も見直されたりしています。
</p>
<p>
そんなときに、じゃあ今海外に行けないなら、<br>
将来自分の意志で海外に仕事をしに行けるようになるには何が必要かな？と考え直したんです。
</p>
<p>
そこでたまたま今の会社を見つけて、直感的に自分の考えとマッチした、<br>
というのが事の顛末です。
</p>
<h4>ーコロナ禍に就活を行う中で、自分の将来と向き合いながら軌道修正していったんですね！<br>就活中に志望先を変えるのって大変でしたか？</h4>
<p>
やっぱりもともとは海外営業がしたかったので、コロナウイルスでそれができなくなったand縮小されたことはショックでしたね...
</p>
<p>
でも、特に私がどうこうできる問題ではなかったので、<br>就活軸の見直しは早めに行いました。
</p>
<h4>ーそうだったんですね...<br>ちなみに佐藤さんの就活の軸ってなんだったんですか？</h4>
<p>
海外営業を目指してた時の軸は３つあって、<br>
１．海外売上比率が高い<br>
２．海外営業部門・部署がある<br>
３．雰囲気が良い<br>
でした。
</p>
<p>
しかし、残念ながらコロナウイルスの影響で海外営業する機会が減ったので、
<br>
私は新たに軸を作って就活をリスタートしました。
</p>
<p>
その軸は、
<br>１．スピード感を持って、社会的・経済的に自立できるか
<br>２．どの職業でも通用するスキルを身に着けられるか
<br>の２つでした。
</p>
<p>
その理由は、将来的に自分の好きな生き方をしたいと思ったときに、選択肢が広がると考えたからです。
</p>
<h4>ー未来に向かって出来ることを増やせる環境を軸として選ぶようにされたんですね！<br>実際に入社されてみてギャップなどありましたか？</h4>
<p>
初めは東京の実家を離れて、一人暮らししながら働けるのか？！と不安だったのですが、
<br>
意外といけますね！
</p>
<p>
ギャップ...はそこまでないのですが、やはりベンチャー気質なので、新人育成はあまり整っていないです。
</p>
<p>
それでも現在は現場に入ってバリバリやらせていただいております。
</p>
<p>
あとは同期入社の社員は既に社会人経験がある中途の人しかいないので、<br>
まあ、たま〜に大学時代の友人と話すと、(真の意味での)同期がいてうらやましいなぁ、と思うくらいですかね。
</p>
<p>
逆に言えば、本当に成長スピードは早いので、
<br>
自分の目標でもある「若いうちに社会的・経済的に自立する」というのは、他の人よりも早くできそうなので、嬉しいです。
</p>
<h4>ーさすがベンチャーですね！<br>ここからは就活中のお話をメインにお聞きしていければと思いますが、<br>佐藤さんは就活中にやって良かったと感じたことはありますか？</h4>
<p>
メンタイに参加して、多種多様な業界のOBOGの先輩方からフィードバックを頂けたことは、良かったと思います。
</p>
<h4>ーなるほどです！<br>逆にやらずに後悔していることはなんですか？</h4>
<p>
SPI(webテスト)の勉強です。
</p>
<p>
私は大手のESが通っても、SPI(webテスト)で全落ちしました。
<br>
ちゃんと勉強しましょう(涙)。
</p>
<p>
テキストをせめて、1周はしたほうが良いと思います。
</p>
<>
<h4>ーせっかくESで良いと思われてもテストで落ちてしまうのもったいないですよね...！<br>しっかり勉強した方がいいですね！<br>ちなみに就活中にびっくりしたことは何かありましたか？</h4>
<p>
コロナ真っ最中の対面での面接が１つだけあったのですが、<br>
めちゃめちゃソーシャルディスタンスが保たれていて(３ｍ)、面接官の顔があんまりよく見えなかったです笑。
</p>
<h4>ー3mというと結構な距離ですよね（笑）<br>それでは最後の質問となりますが、佐藤さんが考える国社生の強みは何ですか？</h4>
<p>
柔軟性があるところ。
</p>
<p>
多様性を見つけて、そこをちゃんと受け入れることのできる人が多いと感じたので、<br>
社会に出てもいろんなタイプの人と上手にお付き合いができると思います。
</p>
<h4>ーありがとうございます！</h4>
<p>
<h4>最後に国社の在学生にメッセージをお願いします！</h4>
<p>
就活頑張りつつも、大学生活も楽しむことを忘れないでね！
</p>