{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <h5>【第2回】</h5>
        <h3>「とりあえずやってみるか笑」<br>チーバくんのうなじからやってきた男の熱き就活ストーリー</h3>
        
        <div class="asker"> 
        <!-- author section -->
          <img class="profile-pic" alt="profile image" src="{% static 'images/toda1.jpg' %}" style="width:38px; height:38px;">
          <h4 style="padding-top:0;">戸田健太郎</h4> 
        </div>
<!-- write body down here -->
<div class="article-body">

<p>こんにちは！<br>
Kiite-me!コラム担当のダグラスです！</p>

<p>先輩に聞く就活体験談2回目のコラムでは、エアライン系商社に勤務されている1期生の戸田健太郎さんにインタビューしましたので、<br>
その様子をお送りします！</p>

<p>それでは早速どうぞ！</p>

<p>*-。-*-。-*-。-*-。-*-。-*-。-*-。-*-。</p>



<h4>ー今日はよろしくお願いします！<br class="br-sp">戸田さんは現在どんなお仕事をされているんですか？</h4>

<p>現在は大手エアライン系商社にて、IT企画及びマネジメントの仕事に携わっています。</p>

<p>主な仕事内容としては、社内の各部門からの要望に対して適切なITシステム導入のサポートを行うことや、社内のIT機器の最適化を行っています。</p>

<p>IT機器の最適化ってわかりにくいと思いますが、たとえば、社員500人の会社で一人ひとりにPCが一台貸与されるとします。<br>
そのとき社内にPCが全部で600台あったら無駄ですよね？だったら念のため20台だけ残して80台は返却しようよ（コストカット）というような機器の社内調整のことです。</p>

<h4>ーそのエアライン系商社はなぜ選んだのですか？</h4>

<p>元々エアライン系の会社にはかなり興味がありました。</p>

<p>その中でエアラインだけではなく、エアラインを利用した新規ビジネスの創出や営業を通じて自分自身の人間性を活かすことができる現在の会社を選びました。<br>
エアライン以外の収益基盤を創り、本業であるエアラインを支えるといのがシンプルにかっこいいなと思いました！</p>

<p>また現在はコロナ禍で航空需要が激減していることから、今までの「支える」という立場からグループ全体を「引っ張っていく」存在となることが期待されています。<br>
こういった今までにない状況の中で自分なりにチャレンジしていける環境が、自分の中ではバチッとはまりました！</p>

<h4>ーチャレンジングな環境なだったんですね！<br class="br-sp">そんな戸田さんにとって社会人としての1年はどんな1年でしたか？</h4>

<p>一言で言うなら「怒涛の1年間」だったんじゃないかなと思います。</p>

<p>異例のリモート研修（期間：3ヶ月）、初期配属での絶望（営業行きたかったんですけど全然違うとこでした。）ITという未知の世界で働くことになってしまったこと、上司や先輩との関わり方、シンプルに仕事ができない等、あげればキリがないですね。笑</p>

<p>本当にはじめてのことだらけで大変だった、という一言につきます。しかし、その中でも良かったなと思うことがありますので皆さんに是非共有させてください！<br>
 <br>
１．ITって実はすごく重要で楽しいということに気づいたということ</p>

<p>正直に言います。配属当初は絶望でした。「元々営業がしたかったのになぜ自分が...」そんなことばかり考えていました。<br>
でもそんなITに対する嫌悪感とかって実はただの「食わず嫌い」ってことに気づきました。<br>
今の時代ITってかなり重要で、これからのビジネスに必要不可欠だという事に改めて気づかされました。</p>

<p>そう思い始めてからは「ITってめちゃくちゃ面白いじゃん」というスタンスの下、IT分野の仕事が大好きになりました。<br>
今となってはしばらく異動せずにITという分野で専門性を身につけ、ビジネス×ITの新たな事業を創造できる商社マンになりたいなーと思っています！<br>
 <br>
２．自身の強み「バイタリティ・推進力・巻き込み力」</p>

<p>与えられた仕事はもちろん、自分ができそうな仕事は積極的に取りにいく、わからないことがあればガンガン先輩を巻き込んで必ずやりきるということを1年目では意識していました。</p>

<p>もちろん、失敗してしまうことやうまくいかないことなんて山ほどあります（笑）</p>

<p>でも1年目ってある意味で失敗しまくっていい期間だと思いますし、失敗ってすごく記憶に残るんですよね。<br>
そういう意味では、「失敗を次に活かすためにはどうしたらいいか」を常に考えることが大事だなと思います！</p>

<p>そういった意識や行動を心がけた結果、タイトルのような部分が強みだよねって上司や先輩の方に言っていただけました。<br>
2年目になっても、この自他共に認める強みは腐らせたくないですし、どんなことにもガンガン挑戦していく姿勢を貫き通したいと思います！</p>

<h4>ーとってもたくさんのことを学ばれたんですね！<br class="br-sp">ではここから就活生だった時のお話を聞かせていただければと思います！<br class="br-sp">就活はいつごろ本格的に開始されたんですか？</h4>

<p>大学3年生の3月、つまり就職活動解禁と同時にスタートしました。</p>

<h4>ー就活の軸はなんでしたか？</h4>

<p>以下2点です。<br>
  　１．自分と関わる人を一人でも多く幸せにしたい。<br>
  　２．国際的な舞台を視野に入れて活躍したい。</p>

<h4>ー大学を国社で過ごした中で「これは役に立ったな～」と思ったものはありますか？</h4>

<p>「深く英語で物事を考える環境」で過ごせたのは非常に就職活動で役に立ちました。</p>

<p>ある会社の最終面接を受ける際に人事の方から「簡単な英会話程度の面接だよ～」と言われていたのですが、実際は志望動機や会社に入ってからのキャリアなど、日本語での面接と遜色ない内容でした...</p>

<p>ですが、そこで国社の授業で日々行っていた「深く英語で物事を考えること」が活きました。<br>
質問内容にはびっくりしましたが、自分のキャリアに対する考えや志望動機をなんとか面接官の方にお伝えすることができました。</p>

<p>もしも国社の授業を通して「深く英語で考える」という経験がなかったら、面接の場でも自分の考えを英語で伝えることなんてできなかったと思います。<br>
ですので、ある意味で皆さんにも「深く英語で物事を考える力」の素養が身についているんじゃないかなと思います。 </p>

<h4>ー確かにそういったところは国社ならではかもですね...<br class="br-sp">話は変わりますが就活中の苦労話などあれば教えてください！</h4>

<p>最後に内定先を1社に絞るという時が一番苦労したなーと思っています。</p>

<p>最終的に内定をいただいた会社はどこも魅力的で、自分自身の納得感も強く、どこに行っても正解なんだろうなと感じていました。</p>

<p>期間でいうと約1ヶ月は悩みましたね。<br>
業界でいうと、ホテル、人材、航空で悩んでいましたが、最終的に「自分はなんで就職活動の道を選んだんだっけ？」という原点に立ち返って決めました。<br>
正直、今の会社に後悔はしていませんし、納得しています。</p>

<p>皆さんには、是非この「納得感」を大事にしてほしいなと思います。そのためには、自己分析や志望動機及び受ける会社が本当に自分の中で納得感があるのか、というところは常に考えて欲しいです！</p>

<h4>ーちなみに面接を受ける中でびっくりした質問とかありましたか？（笑）</h4>

<p>（どこの会社かは言いませんが）「戸田君は彼女いるの？」です。笑</p>

<p>めちゃくちゃびっくりしたのを覚えています。笑</p>

<p>後になって質問の意図を伺ったところ、「親しい人に対してどのような行動を取るのか知りたかった。」と言われました。他に質問あったでしょ...とも思いましたが、今となっては良い思い出です。（？）</p>

<p>ちなみに質問の答えに対して、「君は結構ドライなんだね。笑」と言われました。（どんな回答だったかはご想像にお任せします。）</p>

<h4>ーなんと答えたのか気になります（笑）<br class="br-sp">戸田さんが大学生のときに「やれば良かった！」と後悔していることってありますか？</h4>

<p>特に後悔はしていません！やりたいことはやりたいようにやってきましたし、本当に最高な4年間でした！！</p>

<p>というのも大学の勉強でも、留学でも、バイトでも「とりあえずやってみる！」の精神でなんでもチャレンジしていたからです。</p>

<p>何か今までやったことないことをやるって、怖かったり不安だったりして、勝手に自分でハードル作ってしまうこともあると思います。（めちゃくちゃわかります。）<br>
ですが、意外とやってみたらその不安って大したことないことが多いんですよね！</p>

<p>ちなみに私は人前に立つのが本当に苦手で、それまでそのような立場からは逃げていたことが多かったです。<br>
なのでバイト先などでリーダーやってみない？と言われた時には、自分にそんなことができるのかとても不安でした。<br>
でもわからないことや不安な事を自分だけのものにせず、周りに相談することによって、自分なりのやり方を見つけることができたんです！</p>

<p>その時に「なんであんな心配していたんだろう？」と素直に思いました。<br>
やってみなきゃわからないですよね。ほんとに。ですので、何かやりたいことがあれば、まずはやってみましょう！<br>
失敗しないことが一番良いですが、失敗したらその時考えようのスタンスでもなんら問題ないと思ってます！</p>

<h4>ーなるほど！では最後の質問です！<br class="br-sp">戸田さんが考える「国社生」ならではの強みってなんだと思いますか？</h4>

<p>「怖いものしらず」なところじゃないですかね？（完全に主観ですが。）</p>

<p>なぜか。それは、国社って新しい学部なので、実績も多くないし、不安な部分って多いと思うんですよね。<br>
その中で飛び込んできた皆さんはかなり勇気があると思います！少なくとも、その他の大学生よりは怖いもの知らず・積極的な面はあると思いますので、自身を持ってください！！その一面を武器にして、ガンガン就職活動でも攻めてほしいです！</p>

<h4>ーありがとうございます！それでは最後に国社の在学生にメッセージをお願いします！</h4>

<p>就職活動って正解はないんですよね...これが難しいところであるというか。</p>

<p>なので、「どうしたら自分が一番幸せか」を一番大事にしてほしいです。</p>

<p>例えば、内定スピードや会社の有名度などを他人と比べてしまうことって誰でもあると思いますが、他人って正直関係ないと思うんですよね。<br>
なぜなら、幸せの定義って人の数だけありますし、自分にとっての幸せは他の誰にもわからないと思うんです。</p>

<p>なので、皆さんには「何が自分の幸せに繫がるか」ってことを常に考えてほしいなと心の底から思っています。</p>

<p>そのためには何をするか。「自己分析」です。</p>

<p>悩んで悩んで悩みまくってください。その中で自分が絶対に譲れないもの＝自分にとっての幸せが見つかる思います。<br>
それを大事にしてください！（何でもいいんですよ。）</p>

<p>文面だけでは伝わりにくいこともあると思いますので、自己分析のやり方、業界の選び方、その他もろもろの悩みなど、なんでも聞いてください！<br>
こーんな偉そうなこと言ってますが、皆さんの力になりたいという気持ちは誰にも負けないつもりです！！本当に応援しています。一緒に頑張りましょう！</p>

</div>
<!-- write body up here -->
        <div class="post-time">
          <p>2021/4/11</p>
        </div>
      </div>

    </div><div class="emptybox"></div>
  </div>
{% endblock %}
