

<p>みなさんこんにちは！<br>
この度Kiite-me!のコラム企画の担当になりましたダグラスといいます！</p>

<p>このコラムシリーズでは、国社の卒業生にインタビューを行い、<br>
国社なりの就活方法やどんな就活を実際にしていたのか、というのをコラムという形で在学生のみなさんにお届けしていきます。</p>

<p>ウィズコロナ・アフターコロナの中で未曾有の就活を行っていく国社の後輩のみなさんに少しでも役に立てれば幸いです！</p>

<p>初回のコラムではWeb広告代理店に勤務されている、<br>
1期生の武内修平さんにインタビューを行いましたので、<br>
その様子をお送りします！</p>

<p>それでは就活体験談シリーズのはじまりはじまり～♪</p>

<p>*-。-*-。-*-。-*-。-*-。-*-。-*-。-*-。</p>



<!--　【第2回】「それが国社の強みだ！」踊る吉野のコロナ禍の就活ストーリーとは -->


　<h4>ー本日はよろしくお願いいたします！まずは自己紹介からお願いします！</h4>

<p>
こんにちは！<br>吉野正太朗といいます。
</p>
<p>
今は、東京のクラウドコンピューティングを行っている企業で、SEとして働いています。
</p>
<p>
在学中1，2年生の時はNo X-it(ダンスサークル)に入っていて、<br>2年から3年にかけてはオーストラリアに留学に行っていました。
</p>
　<h4>ーNo X-it入ってたんですね！学内でのパフォーマンスを見かけた事があるんですが本格的でかっこいいですよね！<br>現在の会社はどんな理由で選ばれたんですか？</h4>
<p>
今の会社を選んだ理由は、<br>
    １．業界、職種の将来性<br>
    ２．自分で稼ぐスキルが付く<br>
    ３．風通しが良い<br>
この3つです。
</p>
<p>
まずなによりも、クラウドコンピューティングなどのITの分野は、<br>今後の世の中のデジタル化に合わせて需要がさらに伸びていくと考えていました。<br>その中で自分の新しいもの好きな性格がマッチしているんじゃないかと感じました。
</p>
<p>
2つ目に、そういったITの分野のスキルをしっかり身に付けることが出来れば、<br>会社の中でのステップアップを目指せるし、独立して自分で稼ぐことも可能になると考えました。
</p>
<p>
最後に風通しの良さも自分の中では大切にしていたポイントでした。
</p>
<p>
言われた仕事をそのまま行うのではなく、自分の頭で考えて試行錯誤するような働き方をすることで、<br>先ほど話したような自らのスキルアップに繋げたいと考えていたからです。
</p>
　<h4>ー業界と自らの成長が重ねられるような環境を選ばれていたんですね！<br>入社されて2か月ほどが経ったかと思いますが何か生活に変化などありましたか？</h4>
<p>
大4（特にコロナ期）は一年中休みみたいなものだったので、平日と土日の区別がありませんでしたが、<br>社会人になって土日がとてもありがたく感じてきました笑。
</p>
<p>
そのため土日は遊んだり、出かけに行ったりしなきゃ！と思うようになりました。
</p>
　<h4>ー確かに大学4年生の終わりって時間も増えて曜日感覚が急になくなりますよね（笑）<br>吉野さんはIT系の会社という事ですが就活のスタートも早めだったんですか？</h4>
<p>
自分は3年生の夏ごろから合説インターンに参加しようと就活を始めてました。
</p>
<p>
でも1、2月までは割とだらだら就活をしていたので、<br>
長い期間めちゃくちゃ頑張ったわけではないです。
</p>
　ー<h4>なるほどです！ちなみに内定はいつごろ出たんですか？</h4>
<p>
5月ごろに急に出ました笑。
</p>
<h4>　ー急だったんですね（笑）</h4>
<p>
はい笑
</p>
<p>
内定を頂いてからは、離れ離れになってしまうかもしれない友達もいたので、その人たちと遊んでました。
</p>
<p>
また、コロナで家から出られなかったので、家で筋トレ、減量、増量など一人でできることをやっていました。
</p>
<p>
他は、ただアニメ見たりしてました。
</p>
<h4>　ー減量だけではなく増量もしていたんですか...？なんだかすごいです（笑）<br>吉野さんはコロナ禍の就活を行う中で大変だと感じたことはありましたか？</h4>
<p>
コロナの影響で選考がオンラインになってしまい、会社に行かなくてよくなったことは楽だったのですが、<br>友達や同じ学科の人と情報共有をする機会が少なくなったので自分がしっかり就活できているのか自信が持てず不安でした。
</p>
<p>
対策としては、Twitterやみん就、オープンチャットなどをよく見て他の就活生の動向を知ったり、
<br>エージェントの人にESの添削や困っていることを聞いてもらったりしていました。
</p>
　<h4>ーキャンパスで気軽に友達に会えなくなってしまった分痛いところですよね...<br>そんな中でご自身が国社に在籍していた事で感じたメリットってあったりしますか？</h4>
<p>
自分は留学に行っていたので、その時の体験を学ちかや軸に使いやすかったです。
</p>
<p>
それを膨らませて設定しておけば、ある程度は話すことができると思います。
</p>
　<h4>ー確かに留学経験ってアピールポイントになりそうですよね！<br>吉野さんはどのようにご自身の留学経験をアピールされましたか？</h4>
</p>
<p>
自分の場合は、こんな感じでアピールしました。
</p>
<p>
「オーストラリアに行って多様な人種や、その文化と触れ合うことで、<br>異なる視点から物事を見る力を養うことができました。
</p>
<p>
現在では違う意見を否定することなく、まずは一つの意見として受け入れて、<br>新しいアイデアを考えることができるようになりました。
</p>
<p>
仕事でも柔軟な考え方で新しい価値を生み出していきたいと思っています。」
</p>
　<h4>ーやっぱり海外に行って日本ではできない経験をしているって強みになりますよね...！<br>現状海外留学が難しいタイミングではありますが、他に国社生が就活で出せる強みってなにかありますか？</h4>
<p>
確かに留学を通して他の文化や人種と関わる事は今は難しいかもしれないですが、
<br>
学部の科目でも、経済、ビジネス、社会学、地域研究などかなり幅広いことを勉強することができます。
</p>
<p>
その中から一つピックアップして「～に興味を持ちました」、「～を深く勉強しました」などと言うこともできると思います。
</p>
<p>
4年間を通して突き詰めたものはないけど、幅広い視野や経験を得ているのが国社生の強みではないかと思います。
</p>
<p>
　<h4>ーそうですね！私も国社の授業を通して色んな学問に触れることが出来たので良い経験ができていると感じます！<br>少し話は変わりますが、就活中にアルバイトを続けるかって人によるかと思うのですが、吉野さんはどうされてましたか？</h4>
<p>
僕はバイトはあんまり入れていませんでした。
</p>
<p>
でも、今考えるとできる時間はあったし、バイトを0にするほど就活に時間を割いてもあまり効果的ではないと思います。
</p>
<p>
僕の場合、バイトをしてない間ずっと就活のことを考えてしまうこともあったんですが、
<br>
考えたところで答えは出てこないものが多いので、適度に継続することが大事だと思いました。
</p>
<p>
そのため、普通にバイト入れておいて、他の時間に就活をするという普通な感じでいいと思います。
</p>
　<h4>ーたしかに好きなバイト先だったらリフレッシュにもなりますよね！<br>最後の質問となりますが、大学生の間にこんなことやっておけばよかった！と感じていることはありますか？</h4>
<p>
就活が終わってから、1つ2つくらい新しいことに取り組んでみたかったと思っています。
</p>
<p>
就活が9月とかに終わったとしても入社する4月まで7か月あるので、<br>7か月継続して取り組めばなにか成果が出たり、意外と変化、成長、趣味スキルの取得などできると思います。
</p>
<p>
なので、好きなこと、やってみたいことを、新しく始めてみても良かったのかなと思っています。
</p>
<p>
　<h4>ーありがとうございます！<br>では在学生へのメッセージを最後の最後にいただければと思います！</h4>
<p>
内定が出てない時に、周りの人が内定もらい始めると不安でいっぱいになるけど、<br>
就活は自分のペースで、自信をもって継続するのみだと思います。
</p>
<p>
ゆうて1年間も就活やり続けるわけではないので、今だけだと思って頑張ってください！
</p>