<h4>　ー今日はお時間いただきありがとうございます！<br>早速ですが自己紹介からお願いできますでしょうか！</h4>
<p>
小栗弥一郎です。
</p>
<p>
在学中にはガルシア先生のゼミで製薬企業や通信キャリアの無形固定資産に関する研究に力を入れて取り組んでいました。
</p>
<p>
また、3年生の前期を使ってオーストラリア留学に行きましたが、<br>そこでも会計の授業を受けてきました。
</p>
<p>
現在は大手通信キャリアでアセットマネジメントの仕事をしていて、<br>
主な仕事内容としては、基地局や伝送路などの有形固定資産や、ソフトウェアやパテントなどの無形固定資産の管理をしてます。
</p>
　<h4>ー大手の通信の会社ということで扱っている範囲も多岐に渡っているんですね...<br>現在の会社にはなぜ入社されたんですか？</h4>
<p>
正直に言ってしまうとインターンで本選考に行けたからかな。
</p>
<p>
3年の11月くらいに内定が出た時点で、ほかの会社もエントリーしようか悩みましたが、なんか面倒になったのでやめました。
</p>
<p>
でも4月くらいに国内航空会社のパイロット育成コースだけは勢いで受けた。
</p>
<p>
ハドソン川の奇跡を見て感動したの。
</p>
<p>
あとボストンキャリアフォーラムの参加も検討していましたが、やめた。面倒で。
</p>
　ー<h4>えっ！？面倒だったからなんですか！？（笑）<br>国社の在学生に正直に伝えてしまっていいものか迷ってきましたが...（笑）<br>ちなみにそのインターンに参加された理由はなんだったんですか？</h4>
<p>
自分は財務経理関連のコースが存在するインターンに絞っていたので、<br>
そもそも他に候補となる企業数が多くなかったからってのが大きいね。
</p>
<p>
加えて当時留学先から応募をしていたこともあってオンライン面接に対応している必要があったんだよね。<br>
だから書類で通ってもあきらめたところもあった。<br>
（なおインターンには留学から帰国後に参加予定でした。）
</p>
<p>
製薬企業と通信企業の研究をしていたことから、<br>
現在の会社をはじめとしてジョンソンエンドジョンソンや今話題のPfizer、KDDIも応募してたね。
</p>
<p>
結果的にJJとPfizerは書類落ちし、KDDIはオンライン面接不可能だったのでやめました。
</p>
<p>
ちなみにJJは後日応募ありがとうの手紙とともにペンが届きました。<br>
嫌味でしょうか。
</p>
<p>
でも、まだ筆箱にあります。
</p>
　<h4>ーペン今でも大事にされているんですね（笑）<br>小栗さんはどちらかというと ”財務経理” という職種に絞って就活を進められていたイメージですかね(？)<br>そのインターンではどのようなことをされたのですか？</h4>
<p>
インターンの内容としては財務経理コースだっただけに、財務経理本部で様々な業務を経験してました。
</p>
<p>
実際に社員の方がやっている支払い管理や与信、資産管理にかかわる業務をアシストする形でした。<br>割とマジの業務です。
</p>
<p>
また、グループ作業もあり、<br>
こっちは新しいIFRS15を会社内に適用したときの会計的影響を検討してプレゼンをするプログラムだったのですが、僕の専門だった分すごくたのしかった。（小並感）
</p>
<p>
正直在学中に卒論一本書く程度には会計の勉強はしていたので、<br>
入社前からある程度の仕事内容のイメージはついていたつもりだったんだけど、<br>
いざ実務となると大学レベルの知識では分からない部分が多く、ついていくのに苦労した。
</p>
<p>
感想としてはこれに尽きます。
</p>
<p>
なおインターンの期間は2週間ほどで8月に参加しましたが、<br>
その後10月に早期選考案内、11月に内定、12月には人事の方と「内定受諾しちゃえよ！な？な？面談」が2回あり、それに耐えかねて1月に受諾。
</p>
<p>
実際にはインターンを受ける中で会社の中の雰囲気も自分の肌に合っていると感じたし、<br>その先活動する意味があまりなかったことが大きいね。
</p>
<p>
もともと製薬企業か通信企業を志望していたので。
</p>
　<h4>ーなるほど...！早いうちからご自身と合った企業と出会うことが出来ていたのですね！<br>ということは就活の準備も早くから行われていたのですか？</h4>
<p>
自分の場合は大3の4月からやってた。
</p>
<p>
マジで就活が怖すぎたので留学中からESを書き始め、<br>面接対策を独自に進めていた感じですかね。
</p>
<p>
その成果もあってか、現在の会社の夏インターン選考をパスすることができたんだと思ってる
</p>
<h4>ー結構早めなんですね！でも3年生の夏インターン参加を視野に入れるとそれくらいから準備した方が良いですよね...！</h4>
<p>
うん、割と大事な気がするよね。
</p>
<p>
ESや面接を完璧にしろとは言わないけど、<br>
どの会社を受けるかとか、その会社のESでどんなこと書くか、面接でどんなことを話すかをメモ程度でいいのでまとめておくといいと思う。
</p>
<p>
そうすると自分が就活の軸にすべきことが見えてくるし、汎用できるESとか志望理由とかガクチカとかを持てるんじゃないかと。
</p>
<p>
あととりあえず3年次の夏インターンは行け。<br>
特に3日～2週間とかのやつ。
</p>
<p>
大体の企業は表向きには言わないが、ここで本選考か別ルート選考のチケットが手に入る可能性が高い<br>（もちろんインターンでの評価もかかわってくるけど）。
</p>
<p>
これはマジ。ワイだけじゃなくてほかにもこの手で本選考に行ったのがそこそこいるから。
<br>
信じてくれ！嘘じゃない。話せばわかる。
</p>
<p>
特に外資系企業を目指すのなら絶対に行け。<br>
外資系はそこで99.99%本選考チケか内定を出してくる。
</p>
<p>
日本企業でも総合商社やメガバンはリクルーターが付き、IT系なら本選考になるかと。
</p>
　<h4>ーふむふむ、そういったインターンの情報って小栗さんはどうやって収集していましたか？</h4>
<p>
僕の場合は財務経理関連の仕事がしたいというのが大前提であったので、<br>
ただただグーグル等で「会計　インターン」「経理　インターン」「finance intern」と検索をかけてた。
</p>
<p>
そんでヒットした企業の公式サイトから応募。
</p>
<p>
あとLinkedinもいいです、就職後も転職に使えますし。
</p>
<p>
ちなみに、リクナビとかマイナビは登録してなかったです。<br>
いわゆる3年生の3月の就活解禁のタイミングではもう内定もらってたので。
</p>
<p>
その後の本選考ではさすがに面接が心配になったのか、<br>
過去の就活面接内容等が記載されているunistyleやone careerなどで過去の質問を探しまくってたね。
</p>
<p>
ちなみに書いてあることは一切聞かれなかったのは秘密です。
</p>
　<h4>ー就活あるあるですね（笑）<br>小栗さんは面接の対策って他にもなにかされてましたか？</h4>
<p>
一応懇意にしていた法学の先生とゼミの専任教授に面接対策をお願いしてましたね。
</p>
<p>
僕が本選考を受けたのは3年の11月だったので、<br>そもそも大学公式の面接対策等はありませんでしたし。
</p>
<p>
なので、星先生とガルシア先生に依頼をして本選考に向けた面接対策をしていただいていた感じです。
</p>
<p>
僕の場合は財務経理希望で会計の専門性をアピールする必要があったので、<br>
その専門の質問ができる人間に依頼してました。
</p>
<p>
わからない人に専門性の話をしても面接にならないので。
</p>
<p>
もし、特定の職種を希望するのであれば、それに対応した科目を担当している教員に面接対策やES添削を依頼すべき。<br>
私はそう言いたい。はっきりわかんだね。
</p>
<p>
また一時期ボストンキャリアフォーラムの参加を検討していたことから、<br>
英文レジュメ作成が必要ってときはありましたね。
</p>
<p>
しかしながら伝統と革新の学習院大学には英文レジュメに対応したカリキュラムが存在しないので、<br>
これは国社の優秀な英語系教授陣に依頼をして添削してもらいました。
</p>
<h4>ー確かに普段からお世話になっている先生方からフィードバックを頂けるのは心強いですね！<br>他に就活のために行ってたことってありますか？</h4>
</p>
<p>
それ以外には①長期留学②学部イベントの関与、の２つ。
</p>
<p>
①留学：
</p>
<p>
留学自体は就活で武器にするのありふれすぎてる気がする。
</p>
<p>
でも、中長期留学に限るとそれなりに面接やESのネタにしやすい。<br>これはやっててよかった。
</p>
<p>
あと自分の場合、協定留学かつトビタテ奨学金を使っていたので、<br>その辺もアピールすると「おっ優秀じゃーん」となって良い。
</p>
<p>
短期留学は分からん。
</p>
<p>
②学部イベントの関与：
</p>
<p>
これは本当にたまたまだったのだが、2年生あたりに学部のオープンキャンパス企画への参加を打診されてやり始めた。
</p>
<p>
単純に就活での話のネタになるのもあるが、<br>
それ以上に教授や学部事務室と良質なパイプを作れたのがマジでかい。
</p>
<p>
就活相談もしやすかったし、成績も少し良くなった気がしなくもない。
</p>
<p>
あとそこからほかのプロジェクトへの参加などへつながったよね。
</p>
　<h4>ー成績どうなったか気になりますね（笑）<br>さてインターンについてざっくばらんにお聞きしてきましたが最後に国社の後輩にメッセージがあればよろしくお願いします！</h4>
<p>
「就職活動」という言葉を聞くと、嫌で嫌で仕方なくて、面倒くさく感じて悪態をつきたくなるかもしれません。
</p>
<p>
では聞きますが、仕事なしで卒業しますか？
</p>
<p>
4年間の時間と労力、そして学費をかけて得た新卒カードを捨てることほどに無駄なことはありません。
</p>
<p>
しかし、嫌々やるのは最悪です。
</p>
<p>
その結末はやりたくもない仕事を入る気もなかった会社でやることになるという暗然たる未来です。
</p>
<p>
ここまで紆余曲折4年間やってきたのですから、<br>
自分の理想により近い会社でより良い仕事をしたくないですか？
</p>
<p>
じゃあどうするか。<br>やるしかないんです。
</p>
<p>
やるべき時に「頑張る」か「超頑張る」かの二択で考えてください。
</p>
<p>
まず初めに就活情報解禁の3月から就活を始めればよいとかいう考えは捨ててください。
</p>
<p>
そんな線引きは緊急事態宣言みたいなあるようでないようなもんです。
</p>
<p>
でも大学一年から就活を始めるのは早すぎです。
</p>
<p>
1年生・2年生の諸君は大学生活を充実させることに労力を割いてください。
</p>
<p>
充実させないと就活時に高い確率で詰みます。<br>
部活だろうが勉学だろうが、留学だろうがなんでもいいです。
</p>
<p>
自分が胸を張って「力を入れました」「達成しました」といえるような経験をしてください。
</p>
<p>
なお、麻雀やパチンコ、競馬の経験はこの「充実」に入りませんのでその点に関しましてはご認識いただければ幸いです。
</p>
<p>
面接対策やESなどはまだ後からできますが、<br>大学生活というものは後から編集できません。<br>みんながよく使うCtrl+Zも使えません。
</p>
<p>
順当に充実をさせていけば、だんだんと「やりたい仕事」「行きたい企業」「友人からタダ飯を貰う方法」「出席だけで単位が来る科目」のイメージが見えてくるはずです。
</p>
<p>
そうしたら、それらを書き落としていきましょう。
</p>
<p>
どの企業でどんな職種で何をしたいのか、<br>
なぜそれをしたいと思ったのかなどを思ったままに書きます。
</p>
<p>
おめでとうございます。それがESです。
</p>
<p>
なにが言いたいかって、大学生活で良い経験を積んでいけば自ずとESは生まれるんです。
</p>
<p>
3年生になったらそのイメージをより具体化させましょう。<br>
ここからは就活に関して具体的に考えていくべきだからです。
</p>
<p>
ほとんどの大学3年生と呼ばれる人種はまだ就活など1μも考えていないと思いますが、<br>行きたい企業ややりたい仕事が心のどこかにあるのであれば4月から本格的に考えるべきです。
</p>
<p>
なぜなら、夏インターンの応募が3年生の5月前後に始まるからです。
</p>
<p>
先にも触れましたが、夏インターンはゴールへの近道を歩む大チャンスです。<br>
これをみすみす見逃すのは非常にもったいない。
</p>
<p>
このインターンでは4年生の就活よりも倍率は低く、聞かれる内容や選考の数も少ないです。
</p>
<p>
だから "大チャンス" と言っています。
</p>
<p>
ここでインターンに参加できた君はプログラム内で積極的に動いて評価されるようにしましょう。
</p>
<p>
なおインターン参加＝早期選考チケではないので勘違いしないでください。
</p>
<p>
お断りされても落ち込まない。
</p>
<p>
誰にも、どんなことにも初めてはあるものです。<br>
本選考や冬インターンでも再度挑めますから安心してください。
</p>
<p>
傷つけられたプライドは、10倍にして返してやる、そういうものです。
</p>
<p>
早期内定を得ずに4年生の年に進んだ場合、または早期内定は得たが第一志望ではなかった場合は、本選考で戦うしかありません。
</p>
<p>
でも、インターン選考で場数は踏んでいるはずですから、<br>
ESも完成しているはずですし、面接も経験しているので受け答えはできるはずです。
</p>
<p>
他の学生はここから開始するわけですから、その差は歴然です。
</p>
<p>
3年生をぼおーッと過ごした学生と夏インターンの戦いを経験してきた就活生はステータスが違うもんです。<br>
これだけで内定にぐっと近づきます。
</p>
<p>
そして内定というゴールテープを切ってください。
</p>
<p>
第一志望でなくとも理想に近い仕事を得られているはずです。
</p>
<p>
就活がめんどくさいのはわかります。<br>
3年生は就活など考えずに毎日遊んでいたいでしょう。
</p>
<p>
でも、考えてください。
</p>
<p>
3年生から少しずつコツコツ地道にやっていけば、<br>
自分のしたい仕事に近づくことができます。
</p>
<p>
どうせ新卒カードを使うなら最終的に満足のいく就活をしましょう。
</p>
<p>
そのためには1年生から大学生活を充実させ、3年生で就活を始めることです。
</p>
<p>
最後になりますが、<br>
就職活動に使う時間など卒業後に社会人として働く期間を考えたとき、ほんの一部にすぎません。<br>
そして、その始まりとなるファーストキャリアは大切です。
</p>
<p>
ここの選択で失敗すると精神的にも辛いですし、<br>
転職しようにもその難易度が高くなります。
</p>
<p>
大学生活を楽しむのは結構ですし、私も大切に思います。<br>
でも、行きたい会社ややりたい仕事があるのであれば、ある程度のコストは必要です。<br>
ここで決めなきゃいつ決めるんだよという時には超がんばる。
</p>
<p>
何も大学生活すべてを就活に捧げろとは言っていません。
</p>
<p>
大げさかもしれませんが、新卒就活は人生の大きな分岐点の一つだと自分は思っています。
</p>
<p>
自分のやりたいことをする、<br>
そして夢を実現するための入口なのです。
</p>
<p>
その夢に向けた大学生活もESや面接も、<br>
その夢を手繰り寄せるためのものと考え、超頑張っていただきたいです。
</p>
<p>
もし、悩んでいることや相談したいことがあるのであれば他人に聞くのが一番です。　
</p>
<p>
あ、Kiite-me!というサービスがあるらしいので使うといいと思います。<br>
かの犬養毅も「話せばわかる」と言っていました。ぜひ、話してみてほしいと思います。
</p>