
<!-- 情報収集は目的別に！コロナ禍を乗り切った私の就活法 -->
<h4>ー今日は2期生の北垣さんにインタビューを行っていきます！<br>まずは自己紹介からお願いできますでしょうか？！</h4>
<p>
はじめまして！<br>
現在、食品メーカーの輸出部門に所属しています北垣と申します。
</p>
<p>
大学時代には、ジャズオーケストラ部に所属していました。（留学中にも現地で演奏！）
</p>
<p>
留学では1年生時にはベトナムに5週間、
<br>2年生時にはドイツに10カ月間滞在しました。
</p>
<h4>ーありがとうございます！<br>食品メーカーで働かれているとのことですが、そちらの会社にはなぜ入社されたのですか？</h4>
<p>
面接して下さった方の雰囲気がどなたも自分に合っていると感じたことはもちろんですが、コロナ禍でも選考を先延ばしにせず、<br>
しっかりとスケジュールを組んでくれたことが一番の決め手です！
</p>
<h4>ー2期生の方は就活解禁のタイミングでコロナの感染拡大が進んでしまって大変でしたよね...</h4><p>
丁度、本選考（例年3月1日解禁）頃に新型コロナウイルスが本格的に流行し始め、<br>
特に食品業界は選考を見送る企業が目立ちました。
</p>
<p>
いつ感染が収束するのか、いつ選考が再開されるのか目途が立たない日々が続き、
<br>精神的に辛かったです。
</p>
<p>
また、私は動画選考が苦手だったのですが、<br>
1次面接の代わりに動画選考になった企業が多く、動画での自己アピールに苦労しました。
</p>
<h4>ーそうだったんですね...！<br>北垣さんはいつから就活を本格的に開始されたのですか？</h4>
<p>
本格的には、3年生の4月からマイナビ＆リクナビに登録して企業やインターンシップを見始めました。
</p>
<p>
きっかけは、3年生の4月に実施された、大学の就活支援のお話でした。
</p>
<h4>ー3年生になってすぐに始めていたんですね！<br>就活関連の情報はどのように集めていましたか？</h4>
<p>
ワンキャリア、外資就活、就活攻略論、youtube、twitter、unistyle、みん就を利用していました。
</p>
<p>
私はOB訪問をしたくなかったので、<br>
できるだけインターネット上の情報を掴めるように工夫していました。
</p>
<p>
使い分けは下記の様な形で行っていました。
</p>
<p>
業界、選考スケジュール：ワンキャリア、外資就活
</p>
<p>
ES：就活攻略論、ワンキャリア、unistyle
</p>
<p>
面接対策：Youtube
</p>
<p>
企業別の選考状況：twitter、みん就
</p>
<p>
※ただ、インターネット上の情報は全てが正しいとは限らないので注意が必要です。
</p>
<h4>ーいろんな媒体から情報収集されていたんですね！<br>当時の就活の軸はなんでしたか？</h4>
<p>
当時の就活の軸は「食品（BtoB）業界、かつ海外と関われる仕事」でした。
</p>
<p>
理由としては、働くにあたり今後の人生で自分が携わる専門分野を絞ろうと考えた時、<br>いつも自分を支えてくれた「食品」を専門分野にしたいと思ったからです。<br>（食べるのが好きだからというのが本音ではあります笑）
</p>
<p>
また、食品業界の中でも、様々な食品へと姿を変える「原料」に興味があったので、
<br>食品BtoB業界を志望しました。
</p>
<p>
更に、将来は海外で生活をしながら働きたいという夢があるので、海外にも関われる仕事に就きたいと考えました。
</p>
<h4>ーちなみに国社の授業で就活に役立ったと感じたものはありましたか？</h4><p>
ゼミや英語で学んだ専門科目は就活に役立ったと思います。
</p>
<p>
留学で学んだことを、留学を終えてからも活かすことが出来ている点や、<br>語学の勉強だけではなく、専門的なことも大学で学んできたということをアピールできました。
</p>
<h4>ーたしかに他の方も仰ってましたが、英語”で”学ぶというという経験が出来たのは武器になっている気がします...！<br>他にも国社生が就活で武器にできそうな事ってありますか？</h4>
<p>
上品な国際ビジネス人材であることだと思います。
</p>
<p>
「学習院」の上品なイメージにプラスして、国社で培われた語学力やビジネスの基礎を理解する力は、魅力的に映ると思います。
</p>
<h4>ー大学の中で過ごしていると忘れがちですが、世間的な学習院のイメージもプラスになりますよね！<br>次で最後の質問となりますが、大学生活の中で「これだけはやっておけば良かった！」と感じていることはありますか？</h4>
<p>
ないです！！
</p>
<p>
やりたいことは全部やり切りました。（留学、バイト、部活、インターン、卒論、勉強、旅行など）
</p>
<p>
アドバイスをするとすれば、やりたいことはやりたいと思った時に行動に移すと良いと思います。
</p>
<h4>ー全部やりきったとは...さすがですね！<br>それでは最後に国社の在学生にメッセージをお願いいたします！</h4>
<p>
社会人として働きだして思うことは、<br>自分の「好きなこと」を仕事にすると楽しいということです。
</p>
<p>
就活は実力だけではなく、ご縁や運が必要なこともありますが、可能であれば皆様の「好きなこと」を仕事にして活躍して欲しいと思います。
</p>
<p>
就活中は大変なことや理不尽なことが沢山ありますし、<br>
不安で眠れない日もあると思いますが、社会人は楽しいので、就活を乗り切って欲しいと思います。
</p>
<p>
陰ながら応援しております。ファイトです！！
</p>