{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <h5>【第1回】</h5>
        <h3>39社落ちた2年前の自分に伝えたかった３つのコト</h3>
        
        <div class="asker"> 
        <!-- author section -->
          <img class="profile-pic" alt="profile image" src="{% static 'images/dougpic.jpg' %}" style="width:38px; height:38px;">
          <h4 style="padding-top:0;">武内修平</h4> 
        </div>
<!-- write body down here -->
<div class="article-body">
  <p>はじめまして、一期生の武内修平といいます。</p>

  <p>自分は2020年の3月に学習院/国社を卒業して、それ以来都内のWeb広告代理店で広告バナーの運用とクライアントワークを担当しています。</p>

  <p>まだまだ先輩方に迷惑をかけることも多いですが、広告業の奥深さを日々勉強しております。</p>

  <h4>ということで本題</h4>

  <p>さて、早速タイトルに触れようかと思うのですが、私自身就活生時代はことごとく迷走し続けていました。</p>

  <p>正確には覚えていないのですが40社以上にESを出して、1次面接に進んだのが15社くらいで2次面接以上に進んだ会社は3社だけでした。</p>

  <p>「俺のやりたいことが出来ない会社ならこっちから願い下げだぜ！」みたいなスタンスで就活していたのでそんな結果になるのも当たり前ですが...</p>

  <p>ただ今になって当時を振り返ると「なんで周りの大人はこれを言ってくれなかったのだろう」と思うことがいくつか浮かんだので、<br>今回はそれらを<b>3つのキーワード</b>と共に国社の在学生の方々にお伝えしたいと思います。</p>

  <p>またここに書くことは今後掲載する「就活体験談」を読む上での【大切な】前提にもなるので、最後まで読んでいただけると嬉しいです。</p>

  <p>つたない文章となりますがどうかお付き合いください...</p>

  <h4>１．ポジショントーク</h4>

  <p>さっそく横文字で小難しいこと書きましたが、<br>「ポジショントーク」という言葉はご存じでしょうか？</p>

  <p>ググるとこんな説明が出てきます。</p>

  <i>ポジショントークとは、自分の立場、立ち位置に由来して発言を行うことである。 転じて、自分の立場を利用して自分に有利な状況になるように行う発言のことも指すようになった。</i>

  <p>要するに<b>「自分の利益のために思ってもいないことや嘘を話す」</b>ということです。</p>

  <p>例えばで言うと...</p>

  <b>応募先の会社の人事「うちの会社はみんな仲良くて最高の職場だよ！」</b>

  <p>→ でも本当は全然仲良くない、それでも新卒をたくさん採用しないと上司に怒られるからこのように話して自分の会社をよく見せようとしている</p>

  <b>眼科医「疲れ目の薬を出すので"隣の薬局"で買ってくださいね！」</b>

  <p>→ 全く同じ成分が入った市販のより安い商品があるのに提携先の薬局での購入を進めてくる。<b></b>

  <h4>２．想像力</h4>

  <p>2019年に「3年A組」というドラマが放送されていたのですが見たことありますか？</p>

  <p>余談ですが自分は女優の上白石萌歌さんのファンなので放送されていた3ヶ月間、ずっと幸せを噛み締めておりました。</p>

  <p>話を戻して、そのドラマの中で教師役の菅田将暉さんが「想像力」という言葉を何回も使われているんですね。</p>

  <p>「相手の立場に立って考えろ」と。</p>

  <p>子供の時から聞く言葉なんですが理解の仕方次第では<b>就活への取り組み方</b>も大きく変わってくると思います。</p>

  <p>理由を話します。</p>

  <h4>３．正解はない</h4>

  <p>最後に、一番大切なこととして就活には「正解がない」ということをお伝えします。</p>

  <h4>まとめ</h4>

  <p>ということで次回以降は卒業生の「就活体験談」を投稿していきます。</p>

  <p>読むときには常に「みんなに当てはまるかは分からないけど個人的には～と思います」という文章に頭の中で変換して読んでください。</p>

  <p>みなさんが世の中のノイズに振り回されず、自分らしい就活ができますように！<br>お読みいただきありがとうございました！</p>

</div>
<!-- write body up here -->
        <div class="post-time">
          <p>2021/4/11</p>
        </div>
      </div>

    </div><div class="emptybox"></div>
  </div>
{% endblock %}
