{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main posts-show">
    <div class="container">
      <div class="posts-show-item">
        <h5>【第1回】</h5>
        <h3>40社落ちた2年前の自分に伝えたかったあるコト、なんだと思いますか...？</h3>
        
        <div class="asker"> 
        <!-- author section -->
          <img class="profile-pic" alt="profile image" src="{% static 'images/dougpic.jpg' %}" style="width:38px; height:38px;">
          <h4 style="padding-top:0;">武内修平</h4> 
        </div>
<!-- write body down here -->
<div class="article-body">

<p>みなさんこんにちは！<br>
この度Kiite-me!のコラム企画の担当になりましたダグラスといいます！</p>

<p>このコラムシリーズでは、国社の卒業生にインタビューを行い、<br>
国社なりの就活方法やどんな就活を実際にしていたのか、というのをコラムという形で在学生のみなさんにお届けしていきます。</p>

<p>ウィズコロナ・アフターコロナの中で未曾有の就活を行っていく国社の後輩のみなさんに少しでも役に立てれば幸いです！</p>

<p>初回のコラムではWeb広告代理店に勤務されている、<br>
1期生の武内修平さんにインタビューを行いましたので、<br>
その様子をお送りします！</p>

<p>それでは就活体験談シリーズのはじまりはじまり～♪</p>

<p>*-。-*-。-*-。-*-。-*-。-*-。-*-。-*-。</p>



<h4>ー武内さん本日はよろしくお願いします！早速ですが自己紹介からお願いしてもいいですか...？</h4>

<p>もちろんですよ（笑）</p>

<p>国社の1期生の武内修平といいます。<br>
在学時は音楽愛好会とスカイサウンズっていう音楽のサークルに入って音楽漬けの学生時代を過ごしていました。</p>

<p>現職ではWeb広告代理店のベンチャー企業で広告運用の仕事を担当しています。</p>

<p>ネット記事読んでると「こちらの記事も読みませんか？」みたいなのに広告も混じってることありません？<br>
タップしちゃった後に「なんだ広告かよ」ってなるやつ。<br>
ああいうの作ってます（笑）</p>
  
<h4>ー武内さんはなんで現在の会社を選んだのですか？</h4>

<p>表現の違いによって人の行動に影響を与えられるマーケティングという仕事に魅力を感じていたからです。</p>

<p>加えてベンチャーという規模感であれば配置転換によってやりたい仕事ができなくなるといった心配もないと思ったのが理由でした。</p>

<h4>ーそうなんですね！<br class="br-sp">そんな会社に入って1年が経ちましたが武内さんにとってどんな1年でしたか？</h4>
  
<p>社会人とはなんたるか、ということを学びましたかね...</p>

<p>大学生の時のアルバイトだとその日に言われた作業をシフトの時間分だけやって終わりでしたが、<br>
正社員として働いている今は、会社から言い渡された目標数値の達成のためにはどうするべきか、というのを長期的に意識しなくてはならないです。</p>

<p>そういった点はこの1年の中で意識するようになったと思います。</p>
  
<h4>ーここからは就活生時代のことについてお聞きしていきますね！<br>　就活はいつから本格的にスタートしましたか？</h4>
  
<p>自分は大学3年生の1月からだったかな？<br>
  年明けすぐのメンタイに参加してスイッチが入った感じですね。</p>
  
<h4>ーメンタイがご自身にとって就活を始めるきっかけになってたんですね！<br class="br-sp">当時の就活の軸はなんでしたか？</h4>

<p>自分は「～業界に就職」というよりも「マーケティング」という”職種”にこだわっていたので、先ほど話したような、配置転換の心配がなさそうなベンチャーの会社を軸に就活を進めました。</p>

<p>というのも大学生の時は「世界のどこでも通じるスキルを身に付けて世界中の好きな場所で働きたい」と考えていたので、<br>
マーケティングの仕事を入社直後から任せてもらえるベンチャー企業という環境で経験を積みたかったんです。</p>

<h4>ーちなみに学習院や国社の制度やカリキュラムの中で「就活に役立った！」と感じたものはありましたか？</h4>

<p>制度でもカリキュラムでもないですが、<br>
国社のオープンキャンパスでの活動に携わらせていただいたのが自分にとっては貴重な体験になりました。</p>

<p>来場者である高校生の人たちに国社の魅力を伝えるためにどんなトークショーや宣伝をしたら良いのか、というの国社の仲間と一緒に試行錯誤した経験は就活においても大きな武器になったと思います。</p>

<p>やってみたい人は事務室に聞いてみるとやらせてくれるかもしれないですよ。（たぶん）</p>

<h4>ーたぶんなんですね（笑）武内さんが就活中に苦労した話などあればお聞きしたいです！</h4>

<p>自分は就活を舐めきっていたので大分苦労していましたよ（笑）</p>

<p>というのも、就活始めてすぐの時にはさっき話した就活の軸もない状態で、<br>
名前を知っている大手の会社ばっかりに応募して「安定した人生送りたいな～」みたいな感じだったんです。</p>

<p>しかも志望動機とかも求人サイトに載ってたものを切り貼りした程度のものだったので、<br>
深堀りの質問をされたら上手く答えられなかったんですね。</p>

<p>そんなんだったのでご想像の通り全然有意義な就活が出来ず、<br>
結果的に40社ほどからお祈りメールを頂きました（笑）</p>

<p>最終的にはちゃんと軸も決めて面接対策も人並みに準備して臨むようにしたので、<br>
なんとか希望の企業から内定をいただきましたが本当に無駄が多い就活をしてしまいました...</p>

<h4>ー就活中の珍ハプニングみたいなのってありましたか？（笑）</h4>

<p>グループ面接に参加した時に、自己PRと当時勉強していたノルウェー語を学び始めた理由だけ聞かれて終わったことがありました。</p>

<p>さすがに短すぎるんじゃないかと今でも思いますね（笑）</p>

<h4>ーそれは短すぎです（笑）<br class="br-sp">就活に限らず大学時代を振り返って「こんなことをしておけばよかった！」と後悔していることはありますか？</h4>

<p>人からのアドバイスを何も考えないで実行していたのを後悔していますね...</p>

<p>例えば「興味ない会社の説明会も行ってみた方がいいですよ」というのをネットで見たので、<br>
就活始めてしばらくは全く興味のない業界の会社の説明会もかなり行っていたのですが、<br>
自分の場合ただただ時間と気力の無駄でした（笑）</p>

<p>原因としてはその時の自分は自己分析をちゃんとやっていなかったので、<br>
どれだけ説明会に参加してもその会社が自分に合うか合わないか、という判断の基準が確立できていなかったんだと思います。</p>

<p>それに今になって思うのですが、ネットや人から聞く「これやって良かった！」というのはその人の性格やバックグラウンドがあるから機能しているんだと思うんです。</p>

<p>「これをやるべき！」みたいなのを見聞きしたときは、<br>
その人の立場が自分とどう違うのか、<br>
このアドバイスが合う人と合わない人がいるとしたらどんな違いがあるか、<br>
その時に自分はどっちの人なんだろう、<br>
というのを考えるといいのではないかと考えます。</p>

<p>まあそのためには自分がどんな人かっていうのを知っておく必要があるので、<br>
やっぱり自己分析は早めにやっておいて、自分にとって価値のある情報の取捨選択ができるようになるのが吉ですかね。</p>

<p>あ、ちなみに自己分析や面接対策にオススメのYoutubeチャンネルあるのでこちらもリンク貼っておきます。</p>

<p>もしよかったら参考にしてみてください。</p>

<a href="https://www.youtube.com/channel/UCDDiSYJbdFYQAvlLRqJOBhQ">＠トップ就活チャンネル / キャリアの図書館</a>

<a href="https://www.youtube.com/channel/UChL9q4UAZFEOmsJEqSknlZA">＠現役人事が教えるキャリアの教科書</a>

<h4>ー自己分析やっぱり大事ですよね...<br class="br-sp">最後の質問となりますが、就活における「国社生ならではの強み」はなんだと思いますか？</h4>

<p>なんで「国際社会科学部」っていう珍しい名前の学部に入ったのか、というをアピール出来るのは強みになるんじゃないでしょうか...？</p>

<p>ただ英語の勉強がしたいのであれば英文学科とかでいいし、ビジネスの勉強がしたいのであれば経営学部とかを選べばいいと思うんですよね。</p>

<p>そういった他の選択肢がある中で、<br>
「英語を使って将来こんなことをしたいから国際社会科学部という学部に入ったんです！」というアピールをできるのは国社生ならではの強みになると思いました。</p>

<h4>ー最後に国社の後輩にメッセージをお願いします！</h4>

<p>留学に行きづらくなって国社生としての差別化ポイントを作るのが難しい状況かもしれませんが、<br>
今までと違う世の中に変わっていくからこそ「枠を超えて誰も挑戦したことがないことにチャレンジする」ことが可能になっていると考えています。</p>

<p>例えばプログラミングを勉強してWebサービスを作ってしまうとか（笑）</p>

<p>国社生でありながらも国社の枠を飛び出て、いろんな事を体験して、<br>
みなさんが自分らしい進路を選ばれることを祈っています！</p>

<p>応援してます！</p>




</div>
<!-- write body up here -->
        <div class="post-time">
          <p>2021/4/11</p>
        </div>
      </div>

    </div><div class="emptybox"></div>
  </div>
{% endblock %}
