{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main users-new">
    <div class="container">
      <div class="form-heading">Sign up</div>
      <div class="form users-form">
        <div class="form-body">
  
          <form method="POST" action="">
            {% csrf_token %}
            
              <p>ご本人様のお名前</p>
              {{ form.real_name }}
              
              <p>ユーザーネーム</p>
              {{ form.name }}

              <p>メールアドレス</p>
              {{ form.email }}

              <p>パスワード</p>
              {{ form.password1 }}

              <p>パスワード（確認用）</p>
              {{ form.password2 }}

              <p>入学年度（西暦）</p>
              {{ form.entry_year }}

              <p>在籍状況</p>
              {{ form.student_status }}

              <p>--------下記は卒業生のみご記入ください--------</p>

              <p>業界</p>
              {{ form.industry }}

              <p>職種</p>
              {{ form.job_type }}

              <p>登録することで、<a href="{% url 'terms_of_use' %}" target="_blank" rel="noopener noreferrer">利用規約</a>と<a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>に同意したものとみなされます。</p>

            <input type="submit"  id="submit" name="Create User" value="登録">
          </form>
          {{ form.errors }}
          <p>すでにアカウントをお持ちの方は<a href="{% url 'login'%}">コチラ</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}