{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="main mypage-show">
    <div class="container">
        <div class="mypage-show-item">
            <h2>仮登録が完了しました!</h2>
            
            <p>現在運営側にて審査を行っております。</p>
            
            <p>審査の都合上ご登録いただいたメールアドレス宛に確認のメールをお送りする場合がありますので、<br>お手数ですがご対応のほどよろしくお願いいたします。</p>

            <p>※メールが届かない場合は迷惑メールフォルダに振り分けられている可能性があります。<br>※迷惑メールフォルダにも届いていない場合はメールアドレスが間違っている可能性があるので、もう一度新規登録をお願いいたします。</p>

        </div>
    </div>
</div>
{% endblock %}